/*Mixins*/

@mixin msg {
	width: 272px;
	margin-top: 12px;
	display:none;
}
@mixin btnPurple{
	background-color:#722d7d;
	color:#ddd6d6;
}

body{
	overflow:visible!important;
}
md-backdrop.md-select-backdrop{
	display:none!important;
}
.md-backdrop{
	position:relative!important;
}
md-input-container{
	overflow-x:visible!important;
}
md-input-container.md-default-theme.md-input-invalid .md-input,.md-input{
	border-color:#967ba5;
}
md-input-container.md-default-theme.md-input-invalid label{
	color:#c7b9cf!important;
}
h1, legend{
	color:#757475;
	font-weight:500;

}
.modal-header{
	background-color: 7f2774;
  	color: ddd6d6!important;
  	border-top-left-radius: 5px;
  	border-top-right-radius: 5px;
  	h1, h4{
  		color: ddd6d6!important;
  		text-align:center;
  	}
  	span{
  		color:#ffffff;
  	}
}
.mainConfig{
	background-color: #e3e1e1;
	width: 100%;
	.wrapperConfig{
		background-color:#f5f3f4;
		max-width:60em;
		margin:0 auto;
		min-height: 450px;
			ul{
			padding-top:20px;
			border-bottom: 1px solid #D5D5D5;
				li a{
					color:#757475;
					font-weight: bold;	
				}
				li > a:hover, .nav > li > a:focus {
				  text-decoration: none;
				  background-color: #D5D5D5;
				}
				li.active a{
				  text-decoration: none;
				  background-color: #D5D5D5;
				}
				li:first-child{
					padding-left: 15px;
				}
			}
			.errorSearch{
					font-size:13px;
					color:rgb(244,67,54);
					@include msg;
					}	
			.msgError{
				font-size:13px;
				color:rgb(244,67,54);
					}
			#modalExito{
				display:none;
			}
			#modalContent{
				position:absolute;
				background-color:#dff0d8;
			}
			#modalConfirm{
				position:absolute;
				display:none;
				z-index:10001;
			}
			.btnConfirmModal{
				@include btnPurple;
			}
			.btnAdd{
				color:#ffffff;
			}
			.formUser{
				padding-top:30px;
					legend{
						padding-left:18px;
						font-size:1.625em;
					}
					.msgErrorEmail{
						font-size:13px;
						color:rgb(244,67,54);
						@include msg;
					}
					#msgSuccess, .msgErrorUser{
						margin-left: 18px;
						@include msg;
					}
					.btnAddUser{
						@include btnPurple;
						float:right;
						margin-right: 75px;
						margin-bottom: 40px;
					}
					.lblEdit a{
						color:#786c84;
						font-weight:bold;
					}
					.optCuatri{
						float:left;
					}
					.optAno{
						float:right;
					}
			}
			.contUsuarios{
				.inpSearchUser{
					padding-left:35px;
					}
				.lblEditUser{
					padding-left: 50px;
						a{
							font-size:16px;
						}	
				}
				.errPass{
					display:none;
				}
				.saveUser, .cancelUser, .saveUserAccess, .cancelUserAccess, .inpNewPass, .inpNewPassConfirm{
					display:none;
					}
				.imgProfile{
					width:70px;
					height:70px;
					margin-top:62px;
				}
			}
			.contVerUsuarios{
				padding-bottom:1px;
				padding-left: 20px;
  				padding-right: 20px;
				thead{
					color:#545355;
					border-bottom: 3px solid #722d7b;
					th{
						font-weight:bold;
					}
				}
				tbody{
					font-size:14px;
					tr{
					    border-bottom: 2px solid #b68cbb;
					}
				}
			}	
			.containerModal{
  					color:#757475;
  					span{
  						font-weight: bold;
  					}
  				}
			#modalInfoUser{
					.info{
						float:left;
					}
					.contImgUser{
						float:right;
					}
				}
			.btnDatePicker{
				border: none;
				background-color: #f5f3f4;
				padding-top: 28px;
			}
	}
}

/*MODAL EDITAR CURSO*/


md-checkbox.md-default-theme.md-checked .md-icon {
		background-color:rgba(104, 57, 119, 0.87);
	}
/*MODAL EDITAR CARRERA*/

#modalEditarCarrera, #modalEditarCurso, .formEditUser {
	.contBuscarCarrera, .contBuscarCurso, .inpSearchUser{
		width:50%;
		p{
		   width:100%;
			input{
				float:left;
				width:88%;
			}
			a{
			  float: right;
			  margin-top: 10px;
			  padding-left: 5px;
			  width:12%;
			}
		}
	}
}
/*BUTTON UPLOAD*/

.upload-buttons input[type="file"] {	
	width: 6.3em \0/IE9;
}

.upload-button {
	Height: 26px;
	line-height: 30px;
	padding: 0 10px;
	background: #CCC;
	appearance: button;
	
	position: relative;
	text-align: center;
	top: 7px;
	cursor: pointer;
}

.sel-file {
	padding: 1px 5px;
	font-size: smaller;
	color: grey;
}

.response {
	padding: 0;
	padding-top: 10px;
	margin: 3px 0;
	clear: both;
}

.response .sel-file li, .response .reqh {
	color: blue;
	padding-bottom: 5px; 
}


.progress {
	display: inline-block;
	width: 100px;	
	border: 3px groove #CCC;
}

.progress div {
	font-size: smaller;
	background: orange;
	width: 0;
}

.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 200px;
	height: 65px; 
	text-align: center;
	padding-top: 25px;
	float: left;
	margin-left: 20px;
}

.up-buttons {
	float: left;
}

.drop-box.dragover {
	border: 5px dashed blue;
}

.drop-box.dragover-err {
	border: 5px dashed red;
}

.js-fileapi-wrapper {
	display: inline-block;
	vertical-align: middle;	
}

button {
	padding: 1px 5px;
	font-size: smaller;
	margin: 0 3px; 
}

.ng-v {
	float: right;
}

.thumb {
	float: left;
	width: 18px;
	height: 18px;
	padding-right: 10px;
}

form .thumb {
	width: 24px;
	height: 24px;
	float: none;
	position: relative;
	top: 7px;
}

form .progress {
	line-height: 15px;
}

.edit-area {
	font-size: 14px;
	background: black;
	color: #f9f9f9;
	padding: 5px 1px;	
}

#htmlEdit {
	margin-bottom: 25px;	
}

.edit-div {
	font-size: smaller;
}

.CodeMirror {
	font-size: 14px;
	border: 1px solid #ccc;
	margin-bottom: 15px;
}

form button {
	padding: 3px 10px;
	font-weight: bold;
	margin-top:10px;
}

.sub {
	font-size: smaller;
	color: #777;
	padding-top: 5px;
	padding-left: 10px;
}

.err {
	font-size: 12px;
	color: #C53F00;
	margin: 15px;
	padding: 15px;
	background-color: #F0F0F0;
	border: 1px solid black;
}

.s3 {
	font-size: smaller;
	color: #333;
	margin-left: 20px;
}
.s3 fieldset {
	border: 1px solid #AAA;
}
.s3 label {
	width: 180px;
	display: inline-block;
}
.s3 input {
	width: 300px;
}
.s3 .helper {
	margin-left: 5px;
}

.howto {
	margin-left: 10px;
}

.server {
	margin-bottom:20px;
}

.srv-title {
	font-weight: bold;
	padding: 5px 0 10px 0;
}

:not(output):-moz-ui-invalid {
    box-shadow: none;
}
