#crearGrupo
{
  padding-bottom: 0;
}

#modalNuevoGrupo
{
  table
  {
    margin-bottom: 0px;
    margin-left: 5%;
    width: 93.5%;
  }
  input
  {
  	  width: 96%;
  		margin-left: 3%;
  }
  select
  {
    margin-left: 6%;
    width: 90%;
  }
  span
  {
    font-size : 13px;
    background: none;
    margin-left: 6%;
  }
  label
  {
    margin-left: 6% !important;
    margin-top: 3%;
  }
  h1
  {	
  	font-size : 2em;
  }
  #ordenar1
  {
    margin-left: 0px;
  }
  }

#modificarGrupos
{
  span
  {
  	background : none;
  	font-size : 13px;
  }
  h1
  {
  	font-size: 1.875em;
  	font-weight: bold;
  	color: white;
  }
  table
  {
    margin-bottom: 0px;
  }
  .modal-dialog
  {
  	width : 81% !important;
  }
  th
  {
    color: #2a6496;
  }
  p
  {
    font-size: 15px;
  }
  h2
    {
      font-size: 1.5em;
 		  font-weight: bold;
  		color: #757475;
      margin-bottom:0px;  
   }
   .pull-left
   {
   	#modiF
   	{
   	}
   }
  #agregarNuevos
  {
    margin-top: 1%;  }
  }

#todoGrupos
{
  margin-bottom:0px;
  height:100%;
}

.miMargen
{
  margin-top:1em;
}

.rayita
{
  height: 100%;
  width: 10%;
  margin-left: 2%;
  background-color: #722d7b;
  position: absolute;
}

#mostrarGrupos
{
  h1
  {
  	font-size : 2em;
  	text-align : center;
  }
  li
  {
    margin-left: 11%;
  }
}
#navegacionProfesor
{
	.nav > li > a:focus 
	{
		color: white !important;
		text-decoration: none;
		background-color: #722d7b;
	}
}

#ulMostrarEnviado
{
	li
	{
		margin-left: 12%;
	}
}

#mostrarEnviados{
	h1
	{
		font-size : 2em;
		text-align: center;
	}
}
#mostrarArchivos
{
	.contenedorDeCajas
	{
		margin-left: 11%;

	}
	h1
	{
		text-align: center;
		font-size : 2em;
	}
	h4
	{
		color : #428bca;
	}
}

#subirArchivos  
{
	#errorArchivoGrupo
	{
		margin-left: 2%;
	}
	label
	{
		margin-top: 3%;
		margin-bottom: 1%;
	}
	span
	{
		font-size : 13px;
		background: none;
	}
	h1
	{
		text-align : center;
		font-size : 2em;
	}
	select
	{
		margin-left: 2%;
  	width: 96%;
	}
	#btnSubir
	{
		margin-left: 3%;
	}
	#lvl
	{
		margin-left: 2%;
	}
}
.contenedorRubricasUi
{
	h1
	{
		font-size: 1.875em;
  	font-weight: bold;
 	 	color: #757475;
 	 	text-align : center;
	}
	#fechas
	{
		  background-color: transparent !important;
	}
}
.nofl
{
	float:none !important;
}
#archivosbox
{
	padding: 0px;
}
#mostrarMiGrupo
{
	h1
	{
		font-size: 1.875em;
  font-weight: bold;
  color: #757475;
  text-align: center;
	}
	h4
	{
		color : #428bca;
	}
}
#navegacionEstudiante .nav > li > a:focus
{
	color: white !important;
  text-decoration: none;
  background-color: #722d7b;
}
.fechaGrupo
{
	margin-left: 2%;
}
.colorDeTitulos
{
	color:#428bca;
}
.contenedorDeCajas3
{
	overflow-y: scroll;
}
.misTitulos
{
	color:#757475 !important;
}
.mipos
{
	position : absolute;
}
.ventanasGru
{
	margin-left: 15% !important;
}