.center{
	text-align: center;
}
.btnLogin{
  background-color: #722d7d;
  color: #ddd6d6;
  &:hover{
		opacity: 0.7;
		color: #ddd6d6;
	}
}

.modal-login{
	border-top: 0;
}

.msgdanger{
	font-size: 13px;
	color: red;
}
.msguser{
	font-size: 13px;
	color: red;
}
.ingresar-login{
	text-align: right;
}
.contrasena{
	color: #722d7d;
	&:hover{
		color: #722d7d;	
	}
}
#user-profile{
	width: 25px;
  	height: 25px;
  	margin-top: 0.7em;
  	margin-left: 1em;
}