/*Media queries*/

@media screen and (max-width: 768px) {
	.mainConfig{
		.wrapperConfig{
		    .menuConfig, #ContenedorRubricias{
		       li{
		       		width: 100%;
		       }
		    }
		    .contVerUsuarios{
		    	.tUsuarios, tbody{
		    		font-size: 12px!important;
		    	}
		    }
		}
	}
	header{
		#menuContainer{
			  height: 3.625em;
			  .signIn{
			  	margin-top:14px;
			  	margin-right:0px;
			  }
		}
	}
	
}