@media print {
	.btnPrint {
		display:none;
	}
}
.perfil-layout{
	width: 100%;
	padding:25px 40px 25px 45px;
	.perfilInfo{
		width:85%;
	}
	.perfilImg{
		padding-top:35px;
		.btnCambiarImg{
			margin-top: -60px;
			margin-left: 78px;
			display:none;
		}
		img{
			border: 3px solid rgb(151, 34, 107);
			width:270px;
			cursor: pointer;
			&:hover{
				opacity:0.4;
			}
		}
		&:hover .btnCambiarImg{
				display: block;
			}
	}
	.changeImg{
	  margin-top: -60px;
	  margin-left: 78px;
	  position: absolute;
	  z-index: 10001;
	  a{
	  color: rgb(53, 53, 53);
	  }
	 }
	.perfilDatos{
		padding-top:90px;
		padding-bottom:20px;
	}
	.tNombre{
		border-top: 2px solid #f5f3f4;
	}
	.tInfo{
		font-weight: bold;
	}
	tr{
		border-top: 2px solid rgb(151, 34, 107);
	}
	.editCont{
		float:right;
			.lblPortfolio{
				float:right;
			}
			.lblEditUser, .lblPortfolio{
				a{
				color: #786c84;
		  		font-weight: bold;
			}
		}
	}
}
#modalExitoPerfil{
	display:none;
}
.cabecera-container{
	width: 62.5%;
	padding:20px;
	margin-bottom: 20px;
	display: flex;
	justify-content:space-between;
}
.centrado-perfil{
	width: 25.6%;
}
.cabecera-slogan{
	width:72%;
}
.cuerpo-perfil{
	width: 62.5%;
	margin: 0 auto;
}
.cabcera-portafolio{
	width: 25.6%;
}