@media print {
	.btnPrint {
		display:none;
	}
}
.perfil-layout{
	img{
		max-width: 100%;
		height: auto;
	}
	width: 100%;
	padding:0 1.041666666666667% 0.7142857142857143em;
	h1{
		text-align: center;
		vertical-align: middle;
	}
}
.cabecera-container{
	width: 62.5%;
	margin: 0 auto;
	margin-bottom: 20px;
	display: flex;
	justify-content:space-between;
}
.centrado-perfil{
	width: 25.6%;
}
.cabecera-slogan{
	width:72%;
}
.cuerpo-perfil{
	width: 62.5%;
	margin: 0 auto;
}
.cabcera-portafolio{
	width: 25.6%;
}
