.cabecera-votacion h2, .cabecera-votacion a{
	display: inline-block;
}
.wrap{
	max-width: 1200px;
	margin: 0 auto;
	background-color: #f4f3f3;
}
.proyecto-top{
	width: 270px;
	border: 1px solid gray;
	padding: 15px 16px;
}
.proyecto-info{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.proyecto-slider{
	margin: 8px 9px;
}
.btn-right{
	float: right;
}
#proyecto-portafolio{
	list-style: none inside;
	padding: 0;
	margin: 1em 1.5625%;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	li{
		width: 20.83333333333333%;
	}
	img{
				-webkit-border-radius: 50%;
		        border-radius: 50%;
	}
}