.listdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; 
}

#reportes{
	background-color: #f5f3f4;
	max-width: 60em;
	
	.search-report{
		margin-bottom: 1em;
		margin-left: 4em;
	}
	#searchGlyph{
		top: 11px;
	};
};

.information-reports{
	div,
	h3,
	h4{
		display:inline-block;
	}
	h3{
		font-size:0.93223em!important;
		font-weight: bold!important;
	}
}

md-item-content.div{
	border: 1px solid #e3e1e1!important;
	min-height: 9em;
	margin-bottom: 1em;
}
.min-heigth{
	min-height: 40em;
}

.result{
	img{
		width: 48px;
		height: 48px;
	}
	.header-info{
		display: inline-block;
		font-size: 13px;
		margin-left: 1em;
		width: 100%;
		
		strong{
			font-weight: bold;
			font-size: 15px;
		}
	}
}

.link{
	a{
		color: #752977;
		cursor:pointer;
	}
}

.primary{
	border-bottom: 3px solid  #752977;
	padding-bottom: 0.6em;
	
	div{
		display: inline-block;
		font-size: 15px;
		font-weight: bold;
		width: 24%;
	}
	.credits{
		text-align: center;
	}

}
.secundary{
	padding-top: 0.7em;
	border-bottom: 2px solid #D4B6D8;
	padding-bottom: 0.6em;
	div{
		display: inline-block;
		width: 24%;
	}
	.curso{
		width: 26%;
	}
	.credito,
	.cuatrimestre{
		width: 18%;
		text-align: center;
	}
}

.float{
	width: 40%;
	float: left;
}