.listdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; 
}

#reportes{
	background-color: #f5f3f4;
	max-width: 60em;
	
	.search-report{
		margin-bottom: 1em;
		margin-left: 4em;
	}
	#searchGlyph{
		top: 11px;
	}
}

.information-reports{
	div,
	h3,
	h4{
		display:inline-block;
	}
	.link{
		a{
			color: #752977;
			cursor:pointer;
		}
	}
	h3{
		font-size:0.93223em!important;
		font-weight: bold!important;
	}
}

md-item-content.div{
	border: 1px solid #e3e1e1!important;
	min-height: 9em;
	margin-bottom: 1em;
}
.min-heigth{
	min-height: 15.7em;
}

.result{
	img{
		width: 48px;
		height: 48px;
	}
	.header-info{
		display: inline-block;
		font-size: 13px;
		margin-left: 1em;
	}
}