/*Estilos Guillermo*/
.aliasBtnR{
  margin-right: 10%;
}

.alinieminento{
  margin-left: 22%;
}
#formAddR{
  margin-top: 2em;
}

.contendorNuevaRubrica{
  width: 90%;
  margin: 0 auto;
    #nuevRub{
      border-bottom: 2px solid #b68cbb;
        button{
          margin-bottom: 1em;
        }
    }
}

#tableGrupoCurso, #tableRubricas, #tableGrupoCurso{
  th{
    border: none;
  }
  tr{
    border-bottom: 2px solid #b68cbb;
  }
}

.tablaDetallesCurso{
  width: 100%;
  margin-top: 1em;
  tr{
    width: 100%;
    td{
      width: 20%;

    }
  }
}
.spaceB{
  margin-top: 1em;
}

.spaceB:last-child{
  margin-bottom: 2em;
}

.tablaDetallesCursoEstu{
  width: 100%;
  margin-top: 1em;
  tr{
    width: 100%;
    td{
      width: 100%;
      display: inline;
    }
  }
}

#navegacionDirector
{
  .nav > li > a:focus 
  {
    color: white !important;
    text-decoration: none;
    background-color: #722d7b;
  }
}

.cajaRubrica{
  width: 100%;
  display: inline-block;
  .cont{
    width: 80%;
  }
  .imagN{
    margin-top: 8%;
  }
}

.borrarRub{
  display: inline;
}

.errorMsj{
  background-color: transparent;
  font-size: 13px; 
}

.jusH{
  display: inline;
}


.nays{
  margin-top: 2em;
}

.comie{
  margin-top: 2em;
}

.oneinrow{
  width: 30%;
  margin-left:3%;
}

.twoinrow{
  width: 65%;

}

.maxVal{
  /*height: 35em;*/
  overflow-y: scroll
}

#ContenedorRubricas{
  /*max-width: 60em;*/
  padding-bottom:1px;
}

.errormsj{
  width: 83%;
}

.errormsj2{
  width: 78%;
  margin-left: 20%;
}

.izquierdaCaja{
  width: 40%;
  margin-left: 1%;
  margin-right: 1%;
}

.RubricaCaja{
  width: 90%;
  margin: 0 auto;
}

.derechaCaja{
  width: 50%;
  margin-right: 5%;
  position: relative;
    h3{
      margin-left: 10%;
    }
    .estiloCaja{
      padding-left: 10%;
    }
}

.rayaCentral{
  /*height: 30em;*/
  width: 1%;
  background-color: gray;
  position: absolute;
}

.simpleColor {
    background-color: #722d7b !important;
    color: #fff !important;
}

.contenedorDeCajas{
  /*height: 30em; */
  overflow-y: scroll
}

.contenedorRubricasUi{
  h3{
    font-size: 1.87em;
    font-weight: bold;
    color: #757475;
    text-align: center;
  }
  .inpSearchStudent{
      p{
      width:100%;
        .searchStudent{
          float: left;
          width: 88%;
        }
        a{
          float: right;
          margin-top: 10px;
          padding-left: 5px;
          width: 12%;
        }
      }
  }
  .nombreEstudiante{
    label{
      color: #545355;
      font-weight:bold;
    }
    span{
      font-weight:400;
    }  
  }
  #tableNotas{
    th{
      font-weight:bold;
      vertical-align:middle;
      color: #545355;
    }
    tr{
      border-top: 2px solid #b68cbb;
    }
    td{
      vertical-align:middle;
    }
    .tValor{
    padding-bottom:2px;
  }
  .lastTr{
    border-bottom: 2px solid #b68cbb;
  }
    .valorRubrica{
      width:45%;
    }
  }
}
