/*Estilos Guillermo*/

.cajaRubrica{
  width: 100%;
  display: inline-block;
  .cont{
    width: 80%;
  }
  .imagN{
    margin-top: 8%;
  }
}

.borrarRub{
  display: inline;
}

.errorMsj{
  background-color: transparent;
  font-size: 13px; 
}

.jusH{
  display: inline;
}


.nays{
  margin-top: 2em;
}

.comie{
  margin-top: 2em;
}

.oneinrow{
  width: 30%;
  margin-left:3%;
}

.twoinrow{
  width: 65%;
}

#ContenedorRubricas{
  max-width: 60em;
  height: 50em;
}

.errormsj{
  width: 83%;
}

.errormsj2{
  width: 78%;
  margin-left: 20%;
}

.izquierdaCaja{
  width: 40%;
  margin-left: 1%;
  margin-right: 1%;
}

.derechaCaja{
  width: 55%;
  position: relative;
    h3{
      margin-left: 10%;
    }
    .estiloCaja{
      padding-left: 10%;
    }
}

.rayaCentral{
  height: 30em;
  width: 1%;
  background-color: gray;
  position: absolute;
}

.simpleColor {
    background-color: #722d7b !important;
    color: #fff !important;
}



.contenedorDeCajas{
  height: 30em; 
  overflow-y: scroll
}

.contenedorRubricasUi{
  h3{
    font-size: 1.87em;
    font-weight: bold;
    color: #757475;
    text-align: center;
  }
}
