$font-title:    1.875em; // esto valor son 30px//



$color-title-primary:   #757475;
$color-body:       		#E3E1E1;
$color-container:       #f4f3f3;
$color-placeholder:     #c7b9cf;
$color-purple-buton:    #722d7d;
$color-white:           #ffffff;
$color-letra-button:    #ddd6d6;
$contentSize: 80%;// Equivalente a contenido a 960
