<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Inicio</title>
      <link rel="stylesheet" href="stylesheets/bootstrap.css">
      <link rel="stylesheet" href="stylesheets/foundation.css">
      <link rel="stylesheet" href="stylesheets/screen.css">
      <link rel="stylesheet" href="stylesheets/datepicker.css">
      <link rel="stylesheet" href="stylesheets/angular-social.css">
      <link rel="stylesheet" href="stylesheets/famax.min.css">
      <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.8.3/angular-material.css"> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.8.3/angular-material.css">
      <script type="text/javascript">
         FileAPI = {
         debug: true,
         };
      </script>
   </head>
   <body ng-app="routerApp">
      <div class="off-canvas-wrap" data-offcanvas>
         <div class="inner-wrap" aria-hidden="true">
            <header>
               <nav id="menuContainer" class="tab-bar">
                  <section class="left-small">
                     <a class="left-off-canvas-toggle menu-icon visible-xs" ><span></span></a>
                     <h1><a class="left-off-canvas-toggle menu-icon hidden-xs">Menú</a></h1>
                  </section>
                  <section class="middle tab-bar-section">
                     <div class="signIn">
                        <a id="link-abrir" class="menu-link " href="#" data-toggle="modal" data-target="#login">Iniciar Sesión<img class="signIcon" src="img/signIn3.png" alt="Iniciar Sesión"></a>
                        
                        <a id="link-cerrar" onclick="salir()" class="hide menu-link" href="index.html#/" onClick="document.location.reload()"><img src="img/user-profile.png" alt="" id="user-profile">Cerrar Sesión<img class="signIcon" src="img/signOut1.png" alt="Cerrar Sesión"></a>
                     </div>
                  </section>
                  <section class="right">
                     <img id="imgLogo" class="hidden-xs" src="img/logoApp.png" alt="Logo">
                  </section>
               </nav>
               <aside class="left-off-canvas-menu menuAside">
                  <ul class="off-canvas-list">
                     <li><img class="imgLogoSmall visible-xs" src="img/logoApp.png" alt="Logo"></li>
                     <li>
                        <a id ="home" ui-sref="home">Inicio</a>
                        <div></div>
                     </li>
                     <li>
                        <a id="documentos" ui-sref="documentos">Documentos</a>
                        <div></div>
                     </li>
                     <li><a id="perfil" ui-sref="perfil">Perfil</a></li>
                     <li><a class="linkHover " id="grupo" ui-sref="grupo">Grupo</a></li>
                     <li><a class="linkHover " id="reportes-menu" ui-sref="reportes">Reportes</a></li>
                     <li><a class="linkHover " id ="estudiante" ui-sref="estudiante">Equipo</a></li>
                     <li><a class="linkHover " id="grupo2" ui-sref="grupo2">Clase</a></li>
                     <li id="img-configuracion"><a class="menu-link config" ui-sref="configuracion"><img src="img/config.png" alt="Configuracion"><span>Configuración</span></a></li>
                  </ul>
               </aside>
            </header>
            <section class="main-section">
               <!-- modal login -->
               <div class="modal fade" id="login" tabindex="-1" role="dialog"aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                           <h1>Inicio de Sesión</h1>
                        </div>
                        <div class ="center"><img src="img/login-app.png"></div>
                        <div class="modal-body " ng-controller="signupController">
                           <div class="row">
                              <div class="alert msguser alert-dismissible hide " role="alert" id="nuevo-user">
                                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                 <strong>Debe ingresar el correo de la universidad</strong>
                              </div>
                              <form class="formUser"  id ="formLogin" ng-model="userForm" name="userForm" ng-controller = "signupController"  novalidate>
                                 <fieldset class="col-sm-6">
                                    <div class="col-md-12">
                                       <md-input-container>
                                          <label>Correo Electrónico</label>
                                          <input required type ="email" name="email" 
                                             ng-model="usuario.email" ng-pattern ="patternEmail">
                                          <div ng-show="userForm.$submitted || userForm.email.$touched">
                                             <div class="msgdanger" ng-show="userForm.email.$error.required"> El correo es un campo requerido</div>
                                             <div class="msgdanger" ng-show="userForm.email.$error.pattern">Fomato Inválido</div>
                                          </div>
                                       </md-input-container>
                                       <md-input-container>
                                          <label>Contraseña</label>
                                          <input required name="password" type ="password" ng-model="usuario.password">
                                          <div ng-show="userForm.$submitted || userForm.password.$touched">
                                             <div class="msgdanger" ng-show="userForm.password.$error.required">La contraseña es un campo requerido</div>
                                          </div>
                                       </md-input-container>
                                       <a href="#" class ="contrasena" data-toggle="modal" data-target="#contrasena">Olvidó su Contraseña??</a>
                                    </div>
                                 </fieldset>
                                 <div class="col-xs-12 ingresar-login"> 
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>  
                                    <button class="btn btn btnLogin" ng-click= "signupForm()">Ingresar</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--  modal Login -->
               <!--  modal contraseña -->
               <div class="modal fade"  id="contrasena">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                           <h4>Por favor envie un correo a soporte@ucenfotec.ac.cr</h4>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
               <!-- /.modal -->
               <!--  modal contraseña -->
               <div class="mainConfig" onclick ="show()">
                  <div class="wrapperConfig">
                     <!--INJECTAR CONTENIDO-->
                     <div ui-view></div>
                  </div>
               </div>
            </section>
            <a class="exit-off-canvas"></a>
         </div>
      </div>
      <footer>
         <div class="row contFooter cf">
            <ul class="col-sm-4 hidden-xs">
               <li class="img-responsive"><a href="#" class="txt sprite fb">Play</a></li>
               <li class="img-responsive"><a href="#" class="txt sprite twitter">Clock</a></li>
            </ul>
            <div class="col-xs-6 col-sm-4 contInfoFooter">
               <p>Desarrollado por DMGCoders</p>
               <p>Universidad Cenfotec</p>
               <p>Derechos Reservados 2015</p>
            </div>
            <div class="imgLogo col-xs-6 col-sm-4 ">
               <img src="img/logoCenfotec.png" class="logoCenfotec img-responsive" alt="Logo de Cenfotec">
            </div>
         </div>
      </footer>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-animate.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-aria.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.8.3/angular-material.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-messages.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
      <script type="text/javascript" srce="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/3.0.7/FileAPI.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/3.0.7/angular-file-upload-shim.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/3.0.7/angular-file-upload-all.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/codemirror.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/mode/xml/xml.min.js"></script>
      <script type="text/javascript" src="js/libs/angular-route.js"></script>
      <script type="text/javascript" src="js/rutas.js"></script>
      <script type="text/javascript" src="js/router.js"></script>
      <script type="text/javascript" src="js/fileUpload.js"></script>
      <script type="text/javascript" src="js/datepicker.js"></script>
      <script type="text/javascript" src="js/libs/angular-resource.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
      <!--<script type="text/javascript" src="js/jquery.js"></script>-->
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/foundation.min.js"></script>
      <script src="js/foundation.offcanvas.js"></script>
      <script type="text/javascript" src="js/updateUser.js"></script>
      <script type="text/javascript" src="js/agregarCurso.js"></script>
      <script type="text/javascript" src="js/agregarCarrera.js"></script>
      <script type="text/javascript" src="js/controller/opcionesDirector.js"></script>
      <script type="text/javascript" src="js/controller/documentosController.js"></script>
      <script type="text/javascript" src="js/controller/crearGrupo.js"></script>
      <script type="text/javascript" src="js/controller/reportesController.js"></script>
      <script type="text/javascript" src="js/controller/home.js"></script>
      <script type="text/javascript" src="js/controller/perfil.js"></script>
      <script type="text/javascript" src="js/controller/portafolio.js"></script>
      <script type="text/javascript" src="js/controller/votacion.js"></script>
      <script type="text/javascript" src="js/controller/modificarCarrera.js"></script>
      <script type="text/javascript" src="js/controller/modificarCurso.js"></script>
      <script type="text/javascript" src="js/controller/verUsuarios.js"></script>
      <script src="js/famax.js"></script>
      <script src="js/libs/famax.min.js"></script>
      <script type="text/javascript" src="js/controller/loginController.js"></script>
      <script>
         $(document).foundation();
      </script>
   </body>
</html>