<div class="contCarreras" ng-controller="addCarreraCtrl">
          <div class="row">
            <form class="formUser" ng-model="userForm" name="userForm" ng-submit="validateCarrera() && userForm.$valid" novalidate>
              <fieldset class="col-sm-12">
                <legend class="col-xs-6">Información de la Carrera</legend>
                <div class="col-xs-4 col-md-offset-2">
                  <label class="lblEdit">
                    <a ui-sref=".editarCarrera" data-toggle="modal" data-target="#modalEditarCarrera">
                      Editar
                      <img src="img/edit.png" alt="Icono de Editar">
                    </a>                  
                  </label>
                </div>
                <div class="col-xs-12 col-sm-6">
                <p id="msgSuccess" class="alert alert-success">Datos ingresados correctamente.</p>
                <p class="msgErrorUser alert alert-danger">El usuario que quiere ingresar ya fue agregado anteriormente.</p>
                  <md-input-container>
                    <label>Nombre</label>
                    <input id="inpUser" md-maxlength="30" required name="name" ng-model="nombreCarrera">
                      <div ng-show="userForm.$submitted || userForm.name.$touched">
                        <div class="msgError" ng-show="userForm.name.$error.required">El nombre es un campo requerido.</div>
                      </div>
                  </md-input-container>
                  <md-input-container>
                    <label>Código</label>
                    <input required name="codCarrera" ng-model="codigoCarrera">
                    <div ng-show="userForm.$submitted || userForm.codCarrera.$touched">
                      <div class="msgError" ng-show="userForm.codCarrera.$error.required">Debe ingresar un código para la carrera.</div>
                    </div>
                  </md-input-container>
                  <md-input-container>
                    <label>Director de Carrera</label>
                    <input required name="director" ng-model="dirCarrera">
                    <div ng-show="userForm.$submitted || userForm.director.$touched">
                      <div class="msgError" ng-show="userForm.director.$error.required">Debe ingresar un nombre para el Director de Carrera.</div>
                    </div>
                  </md-input-container>
                </div>
              </fieldset>
              <div class="col-xs-12">   
              <button class="btn btnAddUser" type="submit">Ingresar</button>
              </div>
         </form> 
         <div ui-view></div>
       </div>
  </div>