<div class="contCurso" ng-controller="addCursoCtrl">
        <!--FORMULARIO PARA INGRESAR USUARIOS-->
          <div class="row">
            <form class="formUser" ng-model="userForm" name="userForm" ng-submit="validateCurso() && userForm.$valid" novalidate>
              <fieldset class="col-md-6">
                <legend>Información del Curso</legend>
                <div class="col-md-12">
                <p id="msgSuccess" class="alert alert-success">Datos ingresados correctamente.</p>
                <p class="msgErrorUser alert alert-danger">El usuario que quiere ingresar ya fue agregado anteriormente.</p>
                  <md-input-container>
                    <label>Nombre</label>
                    <input id="inpUser" md-maxlength="30" required name="name" ng-model="nombreCurso">
                      <div ng-show="userForm.$submitted || userForm.name.$touched">
                        <div class="msgError" ng-show="userForm.name.$error.required">El nombre es un campo requerido.</div>
                      </div>
                  </md-input-container>
                  <div class="col-xs-12">
                    <div >
                    <md-select class="optCuatri" required ng-model="cuatriCurso" name="cuatrimestre" placeholder="Cuatrimestre">
                      <md-option value="I Cuatrimestre">I Cuatrimestre</md-option>
                      <md-option value="II Cuatrimestre" >II Cuatrimestre</md-option>
                      <md-option value="III Cuatrimestre" >III Cuatrimestre</md-option>
                    </md-select>
                  </div>
                    <md-select class="optAno" required ng-model="anoCurso" name="ano" placeholder="Año Lectivo">
                      <md-option value="2015">2015</md-option>
                      <md-option value="2016" >2016</md-option>
                      <md-option value="2017" >2017</md-option>
                      <md-option value="2018" >2018</md-option>
                      <md-option value="2019" >2019</md-option>
                      <md-option value="2020" >2020</md-option>
                      <md-option value="2021" >2021</md-option>
                    </md-select>
                  </div>
                  <md-input-container>
                    <label>Horario</label>
                    <input required name="horario" ng-model="horarioCurso">
                    <div ng-show="userForm.$submitted || userForm.horario.$touched">
                      <div class="msgError" ng-show="userForm.horario.$error.required">Debe ingresar un horario para el curso.</div>
                    </div>
                  </md-input-container>
                  <md-input-container>
                    <label>Créditos</label>
                    <input type="number" min="1" required name="creditos" ng-model="creditosCurso">
                    <div ng-show="userForm.$submitted || userForm.creditos.$touched">
                      <div class="msgError" ng-show="userForm.creditos.$error.required">Debe ingresar los créditos para el curso.</div>
                    </div>
                  </md-input-container>
                  <md-input-container>
                    <label>Código</label>
                    <input required name="codigo" ng-model="codCurso">
                    <div ng-show="userForm.$submitted || userForm.codigo.$touched">
                      <div class="msgError" ng-show="userForm.codigo.$error.required">Debe ingresar un código para el curso.</div>
                    </div>
                  </md-input-container>
                </div>
              </fieldset>
              <div class="hidden-xs col-md-4 col-md-offset-2">
                <label class="lblEdit">
                  <a ui-sref=".editar" data-toggle="modal" data-target="#modalEditarCurso">
                    Editar
                    <img src="img/edit.png" alt="Icono de Editar">
                  </a>                  
                </label>
              </div>
              <div ui-view></div>

              <div class="col-xs-12">   
              <button class="btn btnAddUser" type="submit">Ingresar</button>
              </div>
              <div>review form is {{userForm.$valid}}</div>
             
         </form> 

       </div>
     <!--FIN FORMULARIO-->
  </div>

  