<div class="contCurso" ng-controller="addCursoCtrl">
        <!--FORMULARIO PARA INGRESAR USUARIOS-->
          <div class="row">
            <form class="formUser" ng-model="userForm" name="userForm" ng-submit="validateCurso() && userForm.$valid" novalidate>
              <fieldset class="col-md-6">
                <legend>Información del Curso</legend>
                <div class="col-md-12">
                <p id="msgSuccess" class="alert alert-success">Datos ingresados correctamente.</p>
                <p class="msgErrorUser alert alert-danger">El usuario que quiere ingresar ya fue agregado anteriormente.</p>
                  <md-input-container>
                    <label>Nombre</label>
                    <input id="inpUser" md-maxlength="30" required name="name" ng-model="nombreCurso">
                      <div ng-show="userForm.$submitted || userForm.name.$touched">
                        <div class="msgError" ng-show="userForm.name.$error.required">El nombre es un campo requerido.</div>
                      </div>
                  </md-input-container>
                  <md-input-container>
                    <label>Cuatrimestre</label>
                    <input required name="primerApellido" ng-model="cuatrimestre">
                    <div ng-show="userForm.$submitted || userForm.primerApellido.$touched">
                      <div class="msgError" ng-show="userForm.primerApellido.$error.required">Debe ingresar el cuatrimestre del curso.</div>
                    </div>
                  </md-input-container>
                  <md-input-container>
                    <label>Año Lectivo</label>
                    <input required name="segundoApellido" ng-model="anoLectivo">
                    <div ng-show="userForm.$submitted || userForm.segundoApellido.$touched">
                      <div class="msgError" ng-show="userForm.segundoApellido.$error.required">Debe ingresar el año lectivo del curso.</div>
                    </div>
                  </md-input-container>
                  <md-input-container>
                    <label>Horario</label>
                    <input required name="segundoApellido" ng-model="horarioCurso">
                    <div ng-show="userForm.$submitted || userForm.segundoApellido.$touched">
                      <div class="msgError" ng-show="userForm.segundoApellido.$error.required">Debe ingresar un horario para el curso.</div>
                    </div>
                  </md-input-container>
                  <md-input-container>
                    <label>Créditos</label>
                    <input required name="segundoApellido" ng-model="creditosCurso">
                    <div ng-show="userForm.$submitted || userForm.segundoApellido.$touched">
                      <div class="msgError" ng-show="userForm.segundoApellido.$error.required">Debe ingresar los créditos para el curso.</div>
                    </div>
                  </md-input-container>
                  <md-input-container>
                    <label>Código</label>
                    <input required name="segundoApellido" ng-model="codCurso">
                    <div ng-show="userForm.$submitted || userForm.segundoApellido.$touched">
                      <div class="msgError" ng-show="userForm.segundoApellido.$error.required">Debe ingresar un código para el curso.</div>
                    </div>
                  </md-input-container>
                </div>
              </fieldset>
              <div class="hidden-xs col-md-4 col-md-offset-2">
                <label class="lblEdit">
                  <a ui-sref="editar">Editar</a>
                  <img src="img/edit.png" alt="Icono de Editar">
                </label>
              </div>
              <div class="col-xs-12">   
              <button class="btn btnAddUser" type="submit">Ingresar</button>
              </div>
              <div>review form is {{formCarrera.$valid}}</div>
             
         </form> 

       </div>
     <!--FIN FORMULARIO-->
  </div>

  