<div class="contCarreras" ng-controller="AppCtrl">
        <!--FORMULARIO PARA INGRESAR USUARIOS-->
          <div class="row">
            <form class="formUser">
              <fieldset class="col-md-6">
                <legend>Información de la Carrera</legend>
                <div class="col-md-12">
                  <md-input-container>
                    <label>Nombre</label>
                    <input md-maxlength="30" required name="nombre" ng-model="project.description">
                    <div ng-messages="projectForm.description.$error">
                      <div ng-message="required">This is required.</div>
                      <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>
                  </md-input-container>
                  <md-input-container>
                    <label>Código</label>
                    <input required name="codCarrera" ng-model="project.clientName">
                    <div ng-messages="projectForm.clientName.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container>
                    <label>Director de Carrera</label>
                    <input required name="dirCarrera" ng-model="project.clientName">
                    <div ng-messages="projectForm.clientName.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                </div>
                
              </fieldset>
              <div class="hidden-xs col-md-4 col-md-offset-2">
                <label class="lblEdit">
                  <a ui-sref="editar">Editar</a>
                  <img src="img/edit.png" alt="Icono de Editar">
                </label>
              </div>
              <div class="col-xs-12">   
              <button class="btn btnAddUser" type="submit">Ingresar</button>
              </div>
             
         </form> 

       </div>
     <!--FIN FORMULARIO-->
  </div>