<div class="modal fade" id="modalEditarCurso" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" ng-controller="updateCursoCtrl as updCurso">
    <div class="modal-dialog">
        <div class="modal-content" ng-hide="formVisibility">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1>Información del Curso</h1>
            </div>
            <div class="modal-body">
                <form clas="form-horizontal" name="updCurso.userFormEditCurso">
                    <md-input-container class="contBuscarCurso">
                        <p class="input-group">
                          <label>Buscar curso por nombre</label>
                          <input required name="buscarCurso" class="searchCurso">
                          <a href="#" ng-click="updCurso.updateModel()">
                              <img src="img/searchIcon.png">
                          </a>
                        </p>
                        <p class="errorSearch">El curso que está buscando no existe.</p>
                    </md-input-container>
                    <md-input-container>
                    <label>Nombre</label>
                    <input id="inpNombreCurso" md-maxlength="30" required name="nombreCurso" ng-model="updCurso.datos[0].Curso">
                    <div ng-messages="projectForm.description.$error">
                      <div ng-message="required">This is required.</div>
                      <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>
                  </md-input-container>
                  <md-input-container>
                    <label>Cuatrimestre</label>
                    <input id="inpCuatrimestre" required name="cuatrimestre" ng-model="updCurso.datos[0].Cuatrimestre">
                    <div ng-messages="projectForm.clientName.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container>
                    <label>Año Lectivo</label>
                    <input id="inpAno" required name="anoLectivo" ng-model="updCurso.datos[0].AnoLectivo">
                    <div ng-messages="projectForm.clientName.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container>
                    <label>Horario</label>
                    <input id="inpHorarioCurso" required name="horarioCurso" ng-model="updCurso.datos[0].Horario">
                    <div ng-messages="projectForm.clientName.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container>
                    <label>Créditos</label>
                    <input id="inpCreditoCurso" type="number" min="1" required name="creditosCurso" ng-model="updCurso.datos[0].Creditos">
                    <div ng-messages="projectForm.clientName.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container>
                    <label>Código</label>
                    <input id="inpCodCurso" required name="codCurso" ng-model="updCurso.datos[0].Codigo">
                    <div ng-messages="projectForm.clientName.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                    Inactivar
                  </md-checkbox>
                <button class="btn btnAdd" type="submit">Guardar</button> 
                </form>
            </div>
        </div>
    </div>
</div>