<div class="modal fade" id="modalEditarCarrera" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" ng-controller="updateCarreraCtrl as updCarrera">
    <div class="modal-dialog">
        <div class="modal-content" ng-hide="formVisibility">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1>Información de la Carrera</h1>
            </div>
            <div class="modal-body">
                <form clas="form-horizontal" name="updCarrera.formEditCarrera">
                    <md-input-container class="contBuscarCarrera">
                        <p class="input-group">
                          <label>Buscar carrera</label>
                          <input required name="buscarCarrera" class="searchCarrera">
                          <a href="#" ng-click="updCarrera.updateModel()">
                              <img src="img/searchIcon.png">
                          </a>
                        </p>
                        <p class="errorSearch">La carrera que está buscando no existe.</p>
                    </md-input-container>
                      <md-input-container>
                      <label>Nombre</label>
                      <input id="inpNombreCarrera" md-maxlength="60" required name="nombre" ng-model="updCarrera.datos[0].Carrera">
                      <div ng-messages="projectForm.description.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                      </div>
                    </md-input-container>
                    <md-input-container>
                      <label>Código</label>
                      <input id="inpCodCarrera" required name="codCarrera" ng-model="updCarrera.datos[0].Codigo">
                      <div ng-messages="projectForm.clientName.$error">
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>
                    <md-input-container>
                      <label>Director de Carrera</label>
                      <input id="inpDirCarrera" required name="dirCarrera" ng-model="updCarrera.datos[0].Director">
                      <div ng-messages="projectForm.clientName.$error">
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>
                    
                    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                      Inactivar
                    </md-checkbox>
                <button class="btn btnAdd" type="submit">Guardar</button> 
                </form>
            </div>
        </div>
    </div>
</div>