<div class="contUsuarios hidden-xs" ng-controller="updateUserCtrl as updateUser">
        <!--FORMULARIO PARA INGRESAR USUARIOS-->
          <div class="row">
            <form class="formUser formEditUser" ng-mode-="userForm" name="updateUser.userFormEdit" ng-submit="validate() && userForm.$valid" novalidate>
              <md-input-container class="col-xs-6 inpSearchUser">
                  <p class="input-group">
                    <label>Buscar usuario por correo</label>
                    <input class="searchCurso" name="buscarCurso" ng-model="searchUser">
                    <a href="#" ng-click="updateUser.updateModel()">
                        <img src="img/searchIcon.png">
                    </a>
                  </p>
                  <p class="errorSearch">El usuario que esta tratando de buscar no existe.</p>
              </md-input-container>
              <div class="col-xs-3 col-xs-offset-3">

              <img id="imgPhoto" class="imgProfile img-circle" name="profilePhoto" ng-model="updateUser.datos[1].Foto" ng-src="{{updateUser.datos[1].Foto}}">
              </div>
                <fieldset class="col-md-12 col-xs-10">
                  <p id="msgSuccess" class="alert alert-success">Datos modificados correctamente.</p>
                  <legend>Datos Personales
                    <label class="lblEdit lblEditUser">
                      <a class="editUser" href="#">Editar</a>
                      <img src="img/edit.png" alt="Icono de Editar" ng-click="editarUsuario()" data-toggle="modal" data-target="#modalEditarUsuario">
                    </label>
                    </legend>
                  <div class="col-md-6 col-sm-5">
                    <md-input-container>
                      <label>Nombre</label>
                      <input id="inpNameUser" name="userName" ng-model="nameUser" ng-disabled="disable">
                    </md-input-container>
                    <md-input-container>
                      <label>Primer Apellido</label>
                      <input id="inpPrimerApellido" name="primerApellido" ng-model="primerApellido" ng-disabled="disable">
                    </md-input-container>
                    <md-input-container>
                      <label>Segundo Apellido</label>
                      <input id="inpSegApellido" name="segundoApellido" ng-model="segundoApellido" ng-disabled="disable">
                    </md-input-container>
                    <md-input-container ng-controller="DatepickerDemoCtrl">
                      <p class="input-group">
                        <label>Fecha de Nacimiento</label>
                        <input id="inpFecha" name="userFecha" type="text" class="form-control" datepicker-popup="{{format}}" is-open="opened" min-date="'1900-01-01'" max-date="'2015-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" ng-model="birthDate" ng-disabled="disable"/>
                        <span class="input-group-btn">
                          <button class="btnDatePicker" type="button" ng-click="open($event)" ng-disabled="disable">
                            <img src="img/datepicker.png">
                          </button>
                        </span>
                      </p>
                    </md-input-container>
                    <button class="btn btnAddUser saveUser" type="submit" ng-click="guardarUsuario()">Guardar</button>
                    <button class="btn btnAdd cancelUser" type="submit" ng-click="cancelEditarUsuario()">Cancelar</button>
                  </div>
                  <div class="col-md-6 col-sm-5">
                  <md-input-container>
                    <label>Dirección</label>
                    <input id="inpDireccion" name="userDireccion" ng-model="direccion" ng-disabled="disable">
                  </md-input-container>
                  <md-input-container>
                    <label>Teléfono</label>
                    <input  validate-number valid-values="validValues" name="tel" id="inpTelefono" name="userTel" ng-model="telefono" ng-disabled="disable">
                  </md-input-container>
                  <md-input-container>
                    <label>Cédula</label>
                    <input  validate-number valid-values="validValues" id="inpCedula" name="userCed" ng-model="cedula" ng-disabled="disable">
                  </md-input-container>
                  <md-checkbox ng-model="data.cb1" id="chkCurso" aria-label="Checkbox 1" ng-disabled="disable">
                      Inactivar
                  </md-checkbox>
                </div>
                </fieldset>
              <fieldset class="col-md-12 col-sm-10 col-xs-10">
                <legend>Datos de Acceso
                  <label class="lblEdit lblEditUser">
                    <a class="editUser" href="#">Editar</a>
                    <img src="img/edit.png" alt="Icono de Editar" ng-click="editarUsuarioAcceso()" data-toggle="modal" data-target="#modalEditarUsuario">
                  </label>
                </legend>
                <div class="col-md-6 col-sm-5">
                  <md-input-container>
                    <label>Correo</label>
                    <input id="inpCorreo" name="correo" ng-model="correo" ng-disabled="disable2">
                  </md-input-container>
                  <md-input-container>
                    <label>Contraseña</label>
                    <input type="password" id="inpPassword" name="contrasena" ng-model="contrasena" ng-disabled="disable2">
                  </md-input-container>
                  <md-input-container class="inpNewPass">
                    <label>Contraseña nueva</label>
                    <input class="inpNew" ng-model="contrasena2" type="password" ng-disabled="disable2">
                  </md-input-container>
                  <md-input-container class="inpNewPassConfirm">
                    <label>Confirmar contraseña</label>
                    <input class="inpConfirm" type="password" ng-disabled="disable2">
                    <div class="msgError errPass">Contraseña nueva y Confirmar contraseña deben ser iguales.</div>
                  </md-input-container>
                  <button class="btn btnAddUser saveUserAccess" type="submit" ng-click="validarContrasena()">Guardar</button>
                  <button class="btn btnAdd cancelUserAccess" type="submit" ng-click="cancelUsuarioAcceso()">Cancelar</button>
                </div>
                <div class="col-md-6 col-sm-5"> 
                  <md-select id="roleUser" ng-model="rol" class="optionsRoleUser" name="roleUsuario" ng-disabled="disable2">
                    <md-option class="optRole" ng-value="role.nombre" ng-repeat="role in roles">{{role.nombre}}</md-option>
                  </md-select>
                </div>
              </fieldset>
             {{updateUser.userFormEdit.$valid}}
         </form>
       </div>
     <!--FIN FORMULARIO-->
  </div>