<div class="contVerUsuarios" ng-controller="verUserCtrl">
	<h1>Usuarios</h1>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Correo</th>
				<th>Nombre</th>
				<th>Primer Apellido</th>
				<th>Segundo Apellido</th>
				<th>Role</th>
			</tr>
		</thead>
		<tbody>
		     <tr ng-repeat="users in usuarios">
		     	<td>{{users.correo}}</td>
		     	<td>{{users.nombre}}</td>
		     	<td>{{users.primerApellido}}</td>
		     	<td>{{users.segundoApellido}}</td>
		     	<td>{{users.role}}</td>
		     	<td><a href="#"><img src="img/see_03.png"></a></td>
		     </tr>
		</tbody>
	</table>
</div>