<div id="accordionCarrera" role="tablist" aria-multiselectable="true">
   <div class="panel-heading visible-xs" role="tab" id="headingOne">
      <h4 class="panel-title" data-toggle="collapse" data-parent="#accordionCarrera" href=".collapseCarrera" aria-expanded="true" aria-controls="collapseCarrera">
         Votación
      </h4>
   </div>
   <div class="collapseCarrera panel-collapse collapse in" role="tabpanel"  >
      <div class="panel-body">
        <div class="votacionControl" ng-controller="VotacionCtrl">
          <h1>Configurar Votación</h1>
           <form class="formUser" ng-model="voteForm" name="voteForm" ng-submit="validarVotacion() && voteForm.$valid" novalidate>
              <fieldset class="col-md-12">
                <p id="msgSuccess" class="alert alert-success">Configuración guardada.</p>
                <p class="msgErrorUser alert alert-danger">La fecha de cierre debe se mayor que la fecha de inicio.</p>
                <div class="col-xs-9 col-sm-4">
                  <md-input-container ng-controller="DatepickerDemoCtrl">
                    <p class="input-group">
                      <label>Fecha de inicio</label>
                      <input name="inpFechaInicio" id="inpFechaInicio"  type="datetime" class="form-control" datepicker-popup="{{format}}"  is-open="opened" min-date="'1900-01-01'" max-date="'2015-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" ng-model="openTime" />
                      <span class="input-group-btn">
                        <button class="btnDatePicker" type="button" ng-click="open($event)">
                        <img src="img/datepicker.png">
                        </button>
                      </span>
                    </p>
                    </md-input-container>
                  </div>
                  <div class="col-xs-9 col-sm-4">
                    <md-input-container ng-controller="DatepickerDemoCtrl">
                    <p class="input-group">
                      <label>Fecha de cierre</label>
                      <input name="inpFechaCierre" id="inpFechaCierre"  type="datetime" class="form-control" datepicker-popup="{{format}}"  is-open="opened" min-date="'1900-01-01'" max-date="'2015-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" ng-model="closeTime" />
                      <span class="input-group-btn">
                        <button class="btnDatePicker" type="button" ng-click="open($event)">
                        <img src="img/datepicker.png">
                        </button>
                      </span>
                    </p>
                    </md-input-container>
                </div>
                <div class="col-xs-9 col-sm-4">
                  <md-input-container class="estrellaVot">
                  <p class="input-group contStar">
                    <label>Valor por estrella</label>
                    <input type="number" validate-number valid-values="validValues" id="stars" required name="stars" ng-model="stars">
                    <span class="input-group-btn">
                      <img src="img/starVot.png">
                    </span>
                  </p>
                    <div ng-show="voteForm.$submitted || voteForm.direccion.$touched">
                      <div class="msgError" ng-show="voteForm.direccion.$error.required">El valor por estrellas es requerido.</div>
                    </div>

                  </md-input-container>
                </div>
              </fieldset>      
              <h2>Seleccione la cantidad de proyectos</h2>
              <div class="col-xs-12 mainProject">
                <div class="contProject col-xs-6 col-sm-3" ng-repeat="projects in project">
                  <div class="projectInfo">
                    <h3>{{projects.nombre}}</h3>
                    <img ng-src="{{projects.imgProject}}" class="img-circle">
                    <md-checkbox ng-model="data.cb1" class="chkVotacion" id="chkCurso" aria-label="Checkbox 1"></md-checkbox>
                  </div>
                </div>
              </div>
              <div class="btnProyectos col-xs-12">
                <button class="btn btnAddUser" type="submit">Guardar configuración</button>
              </div>
          </form>
         </div>
      </div>
   </div>
</div>


