/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body {
  background-color: #E3E1E1; }

/*.container{
	background-color: $color-container;
}

.btn-default{
	background-color: $color-purple-buton;
	color:  $color-letra-button;
	border-color: $color-purple-buton;

	&:hover{
		background-color: $color-purple-buton;
		color: $color-letra-button;
		border-color: $color-purple-buton;
		opacity: 0.7;
	}
	&:focus{
		background-color: $color-purple-buton;
		color: $color-letra-button;
		border-color: $color-purple-buton;
	}

}*/
header {
  background: linear-gradient(to right, #a22068, #2e368f); }
  header #menuContainer {
    max-width: 60em;
    /*max-height: 110px;*/
    margin: 0 auto;
    font-size: 16px;
    padding-bottom: 2.2%; }
    header #menuContainer a {
      color: #ddd6d6; }
  header #menuCollapse ul {
    padding-top: 28px; }
  header .menuSesion {
    /*padding-left: 25px;*/ }
    header .menuSesion .config {
      width: 45px; }
  header .menuList li {
    padding-left: 4px; }
  header .navbar-right img, header .navbar-right a, header #imgLogo {
    float: left; }
  header .imgLogoSmall {
    width: 70px;
    padding: 6px; }
  header .signIcon {
    padding-top: 16px; }
  header #btnMenu:hover {
    background-color: #10167B; }

footer {
  background: linear-gradient(to right, #a22068, #2e368f); }
  footer .cf:after, footer .cf:before {
    content: ' ';
    display: table; }
  footer .cf:after {
    clear: both; }
  footer .contFooter {
    max-width: 60em;
    margin: 0 auto;
    font-size: 13px;
    height: 95px;
    padding-top: 20px; }
    footer .contFooter li {
      display: inline-block;
      float: left; }
      footer .contFooter li:nth-child(2) {
        padding-left: 25px; }
    footer .contFooter .txt {
      display: block;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden; }
    footer .contFooter .sprite {
      background: url("../img/sprite.png") 0 0 no-repeat;
      width: 50px;
      height: 50px; }
    footer .contFooter .fb {
      background-position: -0px -0px; }
    footer .contFooter .twitter {
      background-position: -0px -50px; }
    footer .contFooter .contInfoFooter {
      margin: 0 auto;
      /*max-width: 14.25em;*/
      text-align: center;
      line-height: 1.5;
      color: #ddd6d6;
      font-size: 0.813em; }
    footer .contFooter .logoCenfotec {
      float: right; }

/*Mixins*/
body {
  overflow: visible !important; }

md-backdrop.md-select-backdrop {
  display: none !important; }

.md-backdrop {
  position: relative !important; }

md-input-container {
  overflow-x: visible !important; }

md-input-container.md-default-theme.md-input-invalid .md-input, .md-input {
  border-color: #967ba5; }

md-input-container.md-default-theme.md-input-invalid label {
  color: #c7b9cf !important; }

h1, legend {
  color: #757475;
  font-weight: 500; }

.modal-header {
  background-color: 7f2774;
  color: ddd6d6 !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .modal-header h1, .modal-header h4 {
    color: ddd6d6 !important;
    text-align: center; }
  .modal-header span {
    color: #ffffff; }

.mainConfig {
  background-color: #e3e1e1;
  width: 100%; }
  .mainConfig .wrapperConfig {
    background-color: #f5f3f4;
    max-width: 60em;
    margin: 0 auto;
    min-height: 450px; }
    .mainConfig .wrapperConfig ul {
      padding-top: 20px;
      border-bottom: 1px solid #D5D5D5; }
      .mainConfig .wrapperConfig ul li a {
        color: #757475;
        font-weight: bold; }
      .mainConfig .wrapperConfig ul li > a:hover, .mainConfig .wrapperConfig ul .nav > li > a:focus {
        text-decoration: none;
        background-color: #D5D5D5; }
      .mainConfig .wrapperConfig ul li.active a {
        text-decoration: none;
        background-color: #D5D5D5; }
      .mainConfig .wrapperConfig ul li:first-child {
        padding-left: 15px; }
    .mainConfig .wrapperConfig .errorSearch {
      font-size: 13px;
      color: #f44336;
      width: 272px;
      margin-top: 12px;
      display: none; }
    .mainConfig .wrapperConfig .msgError {
      font-size: 13px;
      color: #f44336; }
    .mainConfig .wrapperConfig #modalExito {
      display: none; }
    .mainConfig .wrapperConfig #modalContent {
      position: absolute;
      background-color: #dff0d8; }
    .mainConfig .wrapperConfig #modalConfirm {
      position: absolute;
      display: none;
      z-index: 10001; }
    .mainConfig .wrapperConfig .btnConfirmModal {
      background-color: #722d7d;
      color: #ddd6d6; }
    .mainConfig .wrapperConfig .btnAdd {
      color: #ffffff; }
    .mainConfig .wrapperConfig .formUser {
      padding-top: 30px; }
      .mainConfig .wrapperConfig .formUser legend {
        padding-left: 18px;
        font-size: 1.625em; }
      .mainConfig .wrapperConfig .formUser .msgErrorEmail {
        font-size: 13px;
        color: #f44336;
        width: 272px;
        margin-top: 12px;
        display: none; }
      .mainConfig .wrapperConfig .formUser #msgSuccess, .mainConfig .wrapperConfig .formUser .msgErrorUser {
        margin-left: 18px;
        width: 272px;
        margin-top: 12px;
        display: none; }
      .mainConfig .wrapperConfig .formUser .btnAddUser {
        background-color: #722d7d;
        color: #ddd6d6;
        float: right;
        margin-right: 75px;
        margin-bottom: 40px; }
      .mainConfig .wrapperConfig .formUser .lblEdit a {
        color: #786c84;
        font-weight: bold; }
      .mainConfig .wrapperConfig .formUser .optCuatri {
        float: left; }
      .mainConfig .wrapperConfig .formUser .optAno {
        float: right; }
    .mainConfig .wrapperConfig .contUsuarios .inpSearchUser {
      padding-left: 35px; }
    .mainConfig .wrapperConfig .contUsuarios .lblEditUser {
      padding-left: 50px; }
      .mainConfig .wrapperConfig .contUsuarios .lblEditUser a {
        font-size: 16px; }
    .mainConfig .wrapperConfig .contUsuarios .errPass {
      display: none; }
    .mainConfig .wrapperConfig .contUsuarios .saveUser, .mainConfig .wrapperConfig .contUsuarios .cancelUser, .mainConfig .wrapperConfig .contUsuarios .saveUserAccess, .mainConfig .wrapperConfig .contUsuarios .cancelUserAccess, .mainConfig .wrapperConfig .contUsuarios .inpNewPass, .mainConfig .wrapperConfig .contUsuarios .inpNewPassConfirm {
      display: none; }
    .mainConfig .wrapperConfig .contUsuarios .imgProfile {
      width: 70px;
      height: 70px;
      margin-top: 62px; }
    .mainConfig .wrapperConfig .contVerUsuarios {
      padding-bottom: 1px;
      padding-left: 20px;
      padding-right: 20px; }
      .mainConfig .wrapperConfig .contVerUsuarios thead {
        color: #545355;
        border-bottom: 3px solid #722d7b; }
        .mainConfig .wrapperConfig .contVerUsuarios thead th {
          font-weight: bold; }
      .mainConfig .wrapperConfig .contVerUsuarios tbody {
        font-size: 14px; }
        .mainConfig .wrapperConfig .contVerUsuarios tbody tr {
          border-bottom: 2px solid #b68cbb; }
    .mainConfig .wrapperConfig .containerModal {
      color: #757475; }
      .mainConfig .wrapperConfig .containerModal span {
        font-weight: bold; }
    .mainConfig .wrapperConfig #modalInfoUser .info {
      float: left; }
    .mainConfig .wrapperConfig #modalInfoUser .contImgUser {
      float: right; }
    .mainConfig .wrapperConfig .btnDatePicker {
      border: none;
      background-color: #f5f3f4;
      padding-top: 28px; }

/*MODAL EDITAR CURSO*/
md-checkbox.md-default-theme.md-checked .md-icon {
  background-color: rgba(104, 57, 119, 0.87); }

/*MODAL EDITAR CARRERA*/
#modalEditarCarrera .contBuscarCarrera, #modalEditarCarrera .contBuscarCurso, #modalEditarCarrera .inpSearchUser, #modalEditarCurso .contBuscarCarrera, #modalEditarCurso .contBuscarCurso, #modalEditarCurso .inpSearchUser, .formEditUser .contBuscarCarrera, .formEditUser .contBuscarCurso, .formEditUser .inpSearchUser {
  width: 50%; }
  #modalEditarCarrera .contBuscarCarrera p, #modalEditarCarrera .contBuscarCurso p, #modalEditarCarrera .inpSearchUser p, #modalEditarCurso .contBuscarCarrera p, #modalEditarCurso .contBuscarCurso p, #modalEditarCurso .inpSearchUser p, .formEditUser .contBuscarCarrera p, .formEditUser .contBuscarCurso p, .formEditUser .inpSearchUser p {
    width: 100%; }
    #modalEditarCarrera .contBuscarCarrera p input, #modalEditarCarrera .contBuscarCurso p input, #modalEditarCarrera .inpSearchUser p input, #modalEditarCurso .contBuscarCarrera p input, #modalEditarCurso .contBuscarCurso p input, #modalEditarCurso .inpSearchUser p input, .formEditUser .contBuscarCarrera p input, .formEditUser .contBuscarCurso p input, .formEditUser .inpSearchUser p input {
      float: left;
      width: 88%; }
    #modalEditarCarrera .contBuscarCarrera p a, #modalEditarCarrera .contBuscarCurso p a, #modalEditarCarrera .inpSearchUser p a, #modalEditarCurso .contBuscarCarrera p a, #modalEditarCurso .contBuscarCurso p a, #modalEditarCurso .inpSearchUser p a, .formEditUser .contBuscarCarrera p a, .formEditUser .contBuscarCurso p a, .formEditUser .inpSearchUser p a {
      float: right;
      margin-top: 10px;
      padding-left: 5px;
      width: 12%; }

/*BUTTON UPLOAD*/
.upload-buttons input[type="file"] {
  width: 6.3em \0/IE9; }

.upload-button {
  Height: 26px;
  line-height: 30px;
  padding: 0 10px;
  background: #CCC;
  appearance: button;
  position: relative;
  text-align: center;
  top: 7px;
  cursor: pointer; }

.sel-file {
  padding: 1px 5px;
  font-size: smaller;
  color: grey; }

.response {
  padding: 0;
  padding-top: 10px;
  margin: 3px 0;
  clear: both; }

.response .sel-file li, .response .reqh {
  color: blue;
  padding-bottom: 5px; }

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC; }

.progress div {
  font-size: smaller;
  background: orange;
  width: 0; }

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 200px;
  height: 65px;
  text-align: center;
  padding-top: 25px;
  float: left;
  margin-left: 20px; }

.up-buttons {
  float: left; }

.drop-box.dragover {
  border: 5px dashed blue; }

.drop-box.dragover-err {
  border: 5px dashed red; }

.js-fileapi-wrapper {
  display: inline-block;
  vertical-align: middle; }

button {
  padding: 1px 5px;
  font-size: smaller;
  margin: 0 3px; }

.ng-v {
  float: right; }

.thumb {
  float: left;
  width: 18px;
  height: 18px;
  padding-right: 10px; }

form .thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px; }

form .progress {
  line-height: 15px; }

.edit-area {
  font-size: 14px;
  background: black;
  color: #f9f9f9;
  padding: 5px 1px; }

#htmlEdit {
  margin-bottom: 25px; }

.edit-div {
  font-size: smaller; }

.CodeMirror {
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 15px; }

form button {
  padding: 3px 10px;
  font-weight: bold;
  margin-top: 10px; }

.sub {
  font-size: smaller;
  color: #777;
  padding-top: 5px;
  padding-left: 10px; }

.err {
  font-size: 12px;
  color: #C53F00;
  margin: 15px;
  padding: 15px;
  background-color: #F0F0F0;
  border: 1px solid black; }

.s3 {
  font-size: smaller;
  color: #333;
  margin-left: 20px; }

.s3 fieldset {
  border: 1px solid #AAA; }

.s3 label {
  width: 180px;
  display: inline-block; }

.s3 input {
  width: 300px; }

.s3 .helper {
  margin-left: 5px; }

.howto {
  margin-left: 10px; }

.server {
  margin-bottom: 20px; }

.srv-title {
  font-weight: bold;
  padding: 5px 0 10px 0; }

:not(output):-moz-ui-invalid {
  box-shadow: none; }

/*Estilos Guillermo*/
.tablaDetallesCurso {
  width: 100%;
  margin-top: 1em; }
  .tablaDetallesCurso tr {
    width: 100%; }
    .tablaDetallesCurso tr td {
      width: 20%; }

.tablaDetallesCursoEstu {
  width: 100%;
  margin-top: 1em; }
  .tablaDetallesCursoEstu tr {
    width: 100%; }
    .tablaDetallesCursoEstu tr td {
      width: 100%;
      display: inline; }

#navegacionDirector .nav > li > a:focus {
  color: white !important;
  text-decoration: none;
  background-color: #722d7b; }

.cajaRubrica {
  width: 100%;
  display: inline-block; }
  .cajaRubrica .cont {
    width: 80%; }
  .cajaRubrica .imagN {
    margin-top: 8%; }

.borrarRub {
  display: inline; }

.errorMsj {
  background-color: transparent;
  font-size: 13px; }

.jusH {
  display: inline; }

.nays {
  margin-top: 2em; }

.comie {
  margin-top: 2em; }

.oneinrow {
  width: 30%;
  margin-left: 3%; }

.twoinrow {
  width: 65%; }

.maxVal {
  height: 35em;
  overflow-y: scroll; }

#ContenedorRubricas {
  max-width: 60em;
  height: 50em; }

.errormsj {
  width: 83%; }

.errormsj2 {
  width: 78%;
  margin-left: 20%; }

.izquierdaCaja {
  width: 40%;
  margin-left: 1%;
  margin-right: 1%; }

.derechaCaja {
  width: 55%;
  position: relative; }
  .derechaCaja h3 {
    margin-left: 10%; }
  .derechaCaja .estiloCaja {
    padding-left: 10%; }

.rayaCentral {
  height: 30em;
  width: 1%;
  background-color: gray;
  position: absolute; }

.simpleColor {
  background-color: #722d7b !important;
  color: #fff !important; }

.contenedorDeCajas {
  height: 30em;
  overflow-y: scroll; }

.contenedorRubricasUi h3 {
  font-size: 1.87em;
  font-weight: bold;
  color: #757475;
  text-align: center; }

.col-centered {
  float: none;
  margin: 0 auto;
  background-color: #e3e1e1;
  overflow: auto; }

.logo {
  width: 100%;
  height: auto;
  margin-top: 0.6em;
  text-align: center; }

.title-page {
  font-size: 1.875em;
  font-weight: bold;
  color: #757475;
  display: inline-block; }

.search {
  margin-top: 1em; }
  .search .form-group input {
    width: 70%;
    float: left; }
  .search input::-webkit-input-placeholder {
    color: #c7b9cf; }

#searchGlyph {
  top: 5px;
  left: -2em; }

.documentos-disponibles {
  margin-top: 1em; }

.documentos {
  border: 1px solid #e3e1e1;
  padding: 1em;
  margin-bottom: 1em;
  font-family: "helvetica";
  font-size: 14px; }
  .documentos .titulo {
    font-size: 20px;
    color: #722d7d;
    font-weight: normal;
    display: inline-block;
    margin: 0; }
  .documentos .date-and-group {
    display: inline-block; }
    .documentos .date-and-group span {
      margin-left: 1em; }
  .documentos .ordenar-links {
    text-align: right; }
    .documentos .ordenar-links a {
      color: #5F3870; }
  .documentos p {
    margin: 0.5em 0 0.3em 0; }

.mejores-proyectos .logo {
  background-color: #722d7d;
  padding: 0.5em;
  margin: 0; }
  .mejores-proyectos .logo h1 {
    font-size: 20px;
    color: #ffffff;
    margin-left: 0.5em; }
.mejores-proyectos .information {
  border: 1px solid #e3e1e1;
  margin-top: 1em;
  padding: 1em; }

.modal-documentos .modal-body input {
  margin-bottom: 1em; }
.modal-documentos .modal-body div {
  margin-left: 0 !important; }

.link {
  text-align: right; }

.information h1 {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 0.7em; }

.AddDocument {
  background-color: #722d7d;
  color: #ddd6d6;
  border: 1px solid #722D7D;
  margin: 0; }
  .AddDocument:hover {
    background-color: #722d7d;
    color: #ddd6d6;
    border: 1px solid #722D7D;
    opacity: 0.7; }

.listdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }

#reportes {
  background-color: #f5f3f4;
  max-width: 60em; }
  #reportes .search-report {
    margin-bottom: 1em;
    margin-left: 4em; }
  #reportes #searchGlyph {
    top: 11px; }

.information-reports div,
.information-reports h3,
.information-reports h4 {
  display: inline-block; }
.information-reports h3 {
  font-size: 0.93223em !important;
  font-weight: bold !important; }

md-item-content.div {
  border: 1px solid #e3e1e1 !important;
  min-height: 9em;
  margin-bottom: 1em; }

.min-heigth {
  min-height: 40em; }

.result img {
  width: 48px;
  height: 48px; }
.result .header-info {
  display: inline-block;
  font-size: 13px;
  margin-left: 1em;
  width: 100%; }
  .result .header-info strong {
    font-weight: bold;
    font-size: 15px; }

.link a {
  color: #752977;
  cursor: pointer; }

.primary {
  border-bottom: 3px solid  #752977;
  padding-bottom: 0.6em; }
  .primary div {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    width: 24%; }
  .primary .credits {
    text-align: center; }

.secundary {
  padding-top: 0.7em;
  border-bottom: 2px solid #D4B6D8;
  padding-bottom: 0.6em; }
  .secundary div {
    display: inline-block;
    width: 24%; }
  .secundary .curso {
    width: 26%; }
  .secundary .credito,
  .secundary .cuatrimestre {
    width: 18%;
    text-align: center; }

.float {
  width: 40%;
  float: left; }

#crearGrupo {
  padding-bottom: 0; }

#modalNuevoGrupo table {
  margin-bottom: 0px;
  margin-left: 5%;
  width: 93.5%; }
#modalNuevoGrupo input {
  width: 96%;
  margin-left: 3%; }
#modalNuevoGrupo select {
  margin-left: 6%;
  width: 90%; }
#modalNuevoGrupo span {
  font-size: 13px;
  background: none;
  margin-left: 6%; }
#modalNuevoGrupo label {
  margin-left: 6% !important;
  margin-top: 3%; }
#modalNuevoGrupo h1 {
  font-size: 2em; }
#modalNuevoGrupo #ordenar1 {
  margin-left: 0px; }

#modificarGrupos span {
  background: none;
  font-size: 13px; }
#modificarGrupos h1 {
  font-size: 1.875em;
  font-weight: bold;
  color: white; }
#modificarGrupos table {
  margin-bottom: 0px; }
#modificarGrupos .modal-dialog {
  width: 81% !important; }
#modificarGrupos th {
  color: #2a6496; }
#modificarGrupos p {
  font-size: 15px; }
#modificarGrupos h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #757475;
  margin-bottom: 0px; }
#modificarGrupos #agregarNuevos {
  margin-top: 1%; }

#todoGrupos {
  margin-bottom: 0px;
  height: 100%; }

.miMargen {
  margin-top: 1em; }

.rayita {
  height: 100%;
  width: 10%;
  margin-left: 2%;
  background-color: #722d7b;
  position: absolute; }

#mostrarGrupos h1 {
  font-size: 2em;
  text-align: center; }
#mostrarGrupos li {
  margin-left: 11%; }

#navegacionProfesor .nav > li > a:focus {
  color: white !important;
  text-decoration: none;
  background-color: #722d7b; }

#ulMostrarEnviado li {
  margin-left: 12%; }

#mostrarEnviados h1 {
  font-size: 2em;
  text-align: center; }

#mostrarArchivos .contenedorDeCajas {
  margin-left: 11%; }
#mostrarArchivos h1 {
  text-align: center;
  font-size: 2em; }
#mostrarArchivos h4 {
  color: #428bca; }

#subirArchivos #errorArchivoGrupo {
  margin-left: 2%; }
#subirArchivos label {
  margin-top: 3%;
  margin-bottom: 1%; }
#subirArchivos span {
  font-size: 13px;
  background: none; }
#subirArchivos h1 {
  text-align: center;
  font-size: 2em; }
#subirArchivos select {
  margin-left: 2%;
  width: 96%; }
#subirArchivos #btnSubir {
  margin-left: 3%; }
#subirArchivos #lvl {
  margin-left: 2%; }

.contenedorRubricasUi h1 {
  font-size: 1.875em;
  font-weight: bold;
  color: #757475;
  text-align: center; }
.contenedorRubricasUi #fechas {
  background-color: transparent !important; }

.nofl {
  float: none !important; }

#archivosbox {
  padding: 0px; }

#mostrarMiGrupo h1 {
  font-size: 1.875em;
  font-weight: bold;
  color: #757475;
  text-align: center; }
#mostrarMiGrupo h4 {
  color: #428bca; }

#navegacionEstudiante .nav > li > a:focus {
  color: white !important;
  text-decoration: none;
  background-color: #722d7b; }

.fechaGrupo {
  margin-left: 2%; }

.colorDeTitulos {
  color: #428bca; }

@media print {
  .btnPrint {
    display: none; } }
.perfil-layout {
  width: 100%;
  padding: 0 1.041666666666667% 0.7142857142857143em; }
  .perfil-layout img {
    max-width: 100%;
    height: auto; }
  .perfil-layout h1 {
    text-align: center;
    vertical-align: middle; }

.cabecera-container {
  width: 62.5%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between; }

.centrado-perfil {
  width: 25.6%; }

.cabecera-slogan {
  width: 72%; }

.cuerpo-perfil {
  width: 62.5%;
  margin: 0 auto; }

.cabcera-portafolio {
  width: 25.6%; }

.cabecera-votacion h2 {
  display: block;
  text-indent: 1em; }

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f4f3f3; }

.proyecto-top {
  width: 270px;
  border: 1px solid gray;
  padding: 15px 16px; }

.proyecto-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.proyecto-slider {
  margin: 8px 9px; }

.btn-right {
  float: right; }

#proyecto-portafolio {
  list-style: none inside;
  padding: 0;
  margin: 1em 1.5625%;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  #proyecto-portafolio li {
    width: 20.83333333333333%; }

h1, h2, h3, h4 {
  color: #757475; }

.slideshow-container {
  position: relative; }
  .slideshow-container ul {
    list-style: none inside; }
  .slideshow-container #slideshow {
    padding: 0px;
    width: 100%;
    height: 472px;
    overflow: hidden; }
    .slideshow-container #slideshow img {
      width: 100%; }
  .slideshow-container .slideshow-thumbs {
    position: absolute;
    top: 460px;
    left: 475px; }
    .slideshow-container .slideshow-thumbs li {
      margin-left: 5px;
      float: left;
      background-color: #f3f4f4;
      border: 1px solid gray;
      border-radius: 50%; }
      .slideshow-container .slideshow-thumbs li:first-child {
        margin-left: 0px; }
    .slideshow-container .slideshow-thumbs a {
      display: block;
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 50%; }

.votacionControl h1 {
  text-indent: 1.428571428571429em; }

.center {
  text-align: center; }

.modal-login {
  border-top: 0; }

.msgdanger {
  font-size: 13px;
  color: red; }

.msguser {
  font-size: 13px;
  color: red; }

.ingresar-login {
  text-align: right; }

.contrasena {
  color: #722d7d; }
  .contrasena:hover {
    color: #722d7d; }

/*# sourceMappingURL=screen.css.map */
