/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_header.scss */
header {
  background: linear-gradient(to right, #a22068, #2e368f);
}
/* line 4, ../sass/_header.scss */
header #menuContainer {
  max-width: 60em;
  /*max-height: 110px;*/
  margin: 0 auto;
  font-size: 16px;
  padding-bottom: 2.2%;
}
/* line 11, ../sass/_header.scss */
header #menuContainer a {
  color: #ddd6d6;
}
/* line 16, ../sass/_header.scss */
header #menuCollapse ul {
  padding-top: 28px;
}
/* line 19, ../sass/_header.scss */
header .menuSesion {
  padding-left: 25px;
}
/* line 22, ../sass/_header.scss */
header .menuList li {
  padding-left: 25px;
}
/* line 25, ../sass/_header.scss */
header .navbar-right img, header .navbar-right a, header #imgLogo {
  float: left;
}
/* line 29, ../sass/_header.scss */
header .imgLogoSmall {
  width: 70px;
  padding: 6px;
}
/* line 33, ../sass/_header.scss */
header .signIcon {
  padding-top: 16px;
}
/* line 36, ../sass/_header.scss */
header #btnMenu:hover {
  background-color: #10167B;
}

/* line 1, ../sass/_footer.scss */
footer {
  background: linear-gradient(to right, #a22068, #2e368f);
}
/* line 5, ../sass/_footer.scss */
footer .cf:after, footer .cf:before {
  content: ' ';
  display: table;
}
/* line 9, ../sass/_footer.scss */
footer .cf:after {
  clear: both;
}
/* line 13, ../sass/_footer.scss */
footer .contFooter {
  max-width: 60em;
  margin: 0 auto;
  font-size: 13px;
  height: 95px;
  padding-top: 20px;
}
/* line 19, ../sass/_footer.scss */
footer .contFooter li {
  display: inline-block;
  float: left;
}
/* line 23, ../sass/_footer.scss */
footer .contFooter li:nth-child(2) {
  padding-left: 25px;
}
/* line 27, ../sass/_footer.scss */
footer .contFooter .txt {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 33, ../sass/_footer.scss */
footer .contFooter .sprite {
  background: url("../img/sprite.png") 0 0 no-repeat;
  width: 50px;
  height: 50px;
}
/* line 38, ../sass/_footer.scss */
footer .contFooter .fb {
  background-position: 0px 0px;
}
/* line 42, ../sass/_footer.scss */
footer .contFooter .twitter {
  background-position: 0px -50px;
}
/* line 47, ../sass/_footer.scss */
footer .contFooter .contInfoFooter {
  margin: 0 auto;
  /*max-width: 14.25em;*/
  text-align: center;
  line-height: 1.5;
  color: #ddd6d6;
  font-size: 0.813em;
}
/* line 55, ../sass/_footer.scss */
footer .contFooter .logoCenfotec {
  float: right;
}

/* line 1, ../sass/_configuracion.scss */
h1, legend {
  color: #757475;
  font-weight: 500;
}

/* line 6, ../sass/_configuracion.scss */
.mainConfig {
  background-color: #e3e1e1;
  width: 100%;
}
/* line 9, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig {
  background-color: #f5f3f4;
  max-width: 60em;
  margin: 0 auto;
}
/* line 13, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig ul {
  padding-top: 20px;
}
/* line 15, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig ul li a {
  color: #757475;
  font-weight: bold;
}
/* line 21, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formUser {
  padding-top: 30px;
}
/* line 23, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formUser legend {
  padding-left: 18px;
  font-size: 1.625em;
}
/* line 27, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formUser .msgError {
  font-size: 13px;
  color: #f44336;
}
/* line 31, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formUser #msgSuccess {
  width: 272px;
  margin-left: 18px;
  margin-top: 12px;
  display: none;
}
/* line 37, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formUser .btnAddUser {
  background-color: #722d7d;
  float: right;
  color: #ddd6d6;
  margin-right: 75px;
  margin-bottom: 40px;
}
/* line 44, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formUser .lblEdit a {
  color: #786c84;
  font-weight: bold;
}
/* line 50, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formEditUser .inpSearchUser {
  padding-left: 35px;
}
/* line 53, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formEditUser .lblEditUser {
  padding-left: 50px;
}
/* line 55, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formEditUser .lblEditUser a {
  font-size: 16px;
}
/* line 59, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formEditUser .errPass {
  display: none;
}
/* line 62, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formEditUser .saveUser, .mainConfig .wrapperConfig .formEditUser .cancelUser, .mainConfig .wrapperConfig .formEditUser .saveUserAccess, .mainConfig .wrapperConfig .formEditUser .cancelUserAccess, .mainConfig .wrapperConfig .formEditUser .inpNewPass, .mainConfig .wrapperConfig .formEditUser .inpNewPassConfirm {
  display: none;
}
/* line 66, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .btnDatePicker {
  border: none;
  background-color: #f5f3f4;
  padding-top: 28px;
}

/*MODAL EDITAR CURSO*/
/* line 77, ../sass/_configuracion.scss */
.modal-header h1 {
  text-align: center;
}

/* line 81, ../sass/_configuracion.scss */
md-checkbox.md-default-theme.md-checked .md-icon {
  background-color: rgba(104, 57, 119, 0.87);
}

/*BUTTON UPLOAD

.upload-buttons input[type="file"] {	
	width: 6.3em \0/IE9;
}

.upload-button {
	Height: 26px;
	line-height: 30px;
	padding: 0 10px;
	background: #CCC;
	appearance: button;
	
	position: relative;
	text-align: center;
	top: 7px;
	cursor: pointer;
}

.sel-file {
	padding: 1px 5px;
	font-size: smaller;
	color: grey;
}

.response {
	padding: 0;
	padding-top: 10px;
	margin: 3px 0;
	clear: both;
}

.response .sel-file li, .response .reqh {
	color: blue;
	padding-bottom: 5px; 
}


.progress {
	display: inline-block;
	width: 100px;	
	border: 3px groove #CCC;
}

.progress div {
	font-size: smaller;
	background: orange;
	width: 0;
}

.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 200px;
	height: 65px; 
	text-align: center;
	padding-top: 25px;
	float: left;
	margin-left: 20px;
}

.up-buttons {
	float: left;
}

.drop-box.dragover {
	border: 5px dashed blue;
}

.drop-box.dragover-err {
	border: 5px dashed red;
}

.js-fileapi-wrapper {
	display: inline-block;
	vertical-align: middle;	
}

button {
	padding: 1px 5px;
	font-size: smaller;
	margin: 0 3px; 
}

.ng-v {
	float: right;
}

.thumb {
	float: left;
	width: 18px;
	height: 18px;
	padding-right: 10px;
}

form .thumb {
	width: 24px;
	height: 24px;
	float: none;
	position: relative;
	top: 7px;
}

form .progress {
	line-height: 15px;
}

.edit-area {
	font-size: 14px;
	background: black;
	color: #f9f9f9;
	padding: 5px 1px;	
}

#htmlEdit {
	margin-bottom: 25px;	
}

.edit-div {
	font-size: smaller;
}

.CodeMirror {
	font-size: 14px;
	border: 1px solid #ccc;
	margin-bottom: 15px;
}

form button {
	padding: 3px 10px;
	font-weight: bold;
	margin-top:10px;
}

.sub {
	font-size: smaller;
	color: #777;
	padding-top: 5px;
	padding-left: 10px;
}

.err {
	font-size: 12px;
	color: #C53F00;
	margin: 15px;
	padding: 15px;
	background-color: #F0F0F0;
	border: 1px solid black;
}

.s3 {
	font-size: smaller;
	color: #333;
	margin-left: 20px;
}
.s3 fieldset {
	border: 1px solid #AAA;
}
.s3 label {
	width: 180px;
	display: inline-block;
}
.s3 input {
	width: 300px;
}
.s3 .helper {
	margin-left: 5px;
}

.howto {
	margin-left: 10px;
}

.server {
	margin-bottom:20px;
}

.srv-title {
	font-weight: bold;
	padding: 5px 0 10px 0;
}

:not(output):-moz-ui-invalid {
    box-shadow: none;
}*/
/*Estilos Guillermo*/
/* line 3, ../sass/_rubricaEstilo.scss */
.jusH {
  display: inline;
}

/* line 7, ../sass/_rubricaEstilo.scss */
.medida {
  height: 31.5em !important;
}

/* line 11, ../sass/_rubricaEstilo.scss */
.medida2 {
  height: 38em !important;
}

/* line 15, ../sass/_rubricaEstilo.scss */
.nays {
  margin-top: 2em;
}

/* line 19, ../sass/_rubricaEstilo.scss */
.comie {
  margin-top: 2em;
}

/* line 23, ../sass/_rubricaEstilo.scss */
#ContenedorRubricas {
  max-width: 60em;
  height: 50em;
}

/* line 28, ../sass/_rubricaEstilo.scss */
.errormsj {
  width: 83%;
}

/* line 32, ../sass/_rubricaEstilo.scss */
.errormsj2 {
  width: 78%;
  margin-left: 20%;
}

/* line 37, ../sass/_rubricaEstilo.scss */
.izquierdaCaja {
  width: 40%;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 43, ../sass/_rubricaEstilo.scss */
.derechaCaja {
  width: 55%;
  position: relative;
}
/* line 46, ../sass/_rubricaEstilo.scss */
.derechaCaja h3 {
  margin-left: 10%;
}
/* line 49, ../sass/_rubricaEstilo.scss */
.derechaCaja .estiloCaja {
  padding-left: 10%;
}

/* line 54, ../sass/_rubricaEstilo.scss */
.rayaCentral {
  height: 30em;
  width: 1%;
  background-color: gray;
  position: absolute;
}

/* line 61, ../sass/_rubricaEstilo.scss */
.rayaCentralMorada {
  height: 33em;
  width: 10%;
  margin-left: 10%;
  background-color: #722d7b;
  position: absolute;
}

/* line 69, ../sass/_rubricaEstilo.scss */
.simpleColor {
  background-color: #722d7b !important;
  color: #fff !important;
}

/* line 74, ../sass/_rubricaEstilo.scss */
.cajaDelmodal div {
  margin-left: 20%;
  margin-top: 1%;
}

/* line 79, ../sass/_rubricaEstilo.scss */
.contenedorDeCajas {
  height: 30em;
  overflow-y: scroll;
}

/* line 1, ../sass/_documentos.scss */
.col-centered {
  float: none;
  margin: 0 auto;
  background-color: #e3e1e1;
  overflow: auto;
}

/* line 8, ../sass/_documentos.scss */
.logo {
  width: 100%;
  height: auto;
  margin-top: 0.6em;
  text-align: center;
}

/* line 14, ../sass/_documentos.scss */
.title-page {
  font-size: 1.875em;
  font-weight: bold;
  color: #757475;
  display: inline-block;
}

/* line 21, ../sass/_documentos.scss */
.search {
  margin-top: 1em;
}
/* line 24, ../sass/_documentos.scss */
.search .form-group {
  padding-left: 8em;
}
/* line 27, ../sass/_documentos.scss */
.search .form-group input {
  width: 50%;
  float: left;
}
/* line 33, ../sass/_documentos.scss */
.search input::-webkit-input-placeholder {
  color: #c7b9cf;
}

/* line 39, ../sass/_documentos.scss */
#searchGlyph {
  top: 5px;
  left: -2em;
}

/* line 44, ../sass/_documentos.scss */
.documentos-disponibles {
  margin-top: 1em;
}

/* line 48, ../sass/_documentos.scss */
.documentos {
  border: 1px solid #e3e1e1;
  padding: 1em;
  margin-bottom: 1em;
  font-family: "helvetica";
  font-size: 14px;
}
/* line 55, ../sass/_documentos.scss */
.documentos .titulo {
  font-size: 20px;
  color: #722d7d;
  font-weight: normal;
  display: inline-block;
}
/* line 62, ../sass/_documentos.scss */
.documentos .date-and-group {
  display: inline-block;
}
/* line 65, ../sass/_documentos.scss */
.documentos .ordenar-links {
  text-align: right;
}
/* line 67, ../sass/_documentos.scss */
.documentos .ordenar-links a {
  color: #5F3870;
}
/* line 71, ../sass/_documentos.scss */
.documentos p {
  margin: 0.5em 0 0.3em 0;
}

/* line 77, ../sass/_documentos.scss */
.mejores-proyectos .logo {
  background-color: #722d7d;
  padding: 0.5em;
  margin: 0;
}
/* line 82, ../sass/_documentos.scss */
.mejores-proyectos .logo h1 {
  font-size: 20px;
  color: white;
  margin-left: 0.5em;
}
/* line 88, ../sass/_documentos.scss */
.mejores-proyectos .information {
  border: 1px solid #e3e1e1;
  margin-top: 1em;
  padding: 1em;
}

/* line 97, ../sass/_documentos.scss */
.modal-documentos .modal-body input {
  margin-bottom: 1em;
}
/* line 100, ../sass/_documentos.scss */
.modal-documentos .modal-body div {
  margin-left: 0!important;
}

/* line 105, ../sass/_documentos.scss */
.link {
  text-align: right;
}

/* line 109, ../sass/_documentos.scss */
.information h1 {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 0.7em;
}

/* line 2, ../sass/_grupo.scss */
#crearGrupo {
  padding-bottom: 0;
}

/* line 8, ../sass/_grupo.scss */
#modalNuevoGrupo table {
  margin-bottom: 0px;
  margin-left: 14%;
  width: 89.5%;
}
/* line 14, ../sass/_grupo.scss */
#modalNuevoGrupo input {
  margin-left: 14%;
  width: 88%;
}
/* line 19, ../sass/_grupo.scss */
#modalNuevoGrupo select {
  margin-left: 16%;
  width: 84%;
}
/* line 24, ../sass/_grupo.scss */
#modalNuevoGrupo span {
  margin-left: 16%;
}
/* line 28, ../sass/_grupo.scss */
#modalNuevoGrupo label {
  margin-left: 16% !important;
  margin-top: 3%;
}
/* line 33, ../sass/_grupo.scss */
#modalNuevoGrupo #ordenar1 {
  margin-left: 0px;
}
/* line 37, ../sass/_grupo.scss */
#modalNuevoGrupo #errorNombreGrupo {
  margin-left: 14%;
}

/* line 44, ../sass/_grupo.scss */
#modificarGrupos table {
  margin-bottom: 0px;
  margin-left: 14%;
  width: 89.5%;
}
/* line 49, ../sass/_grupo.scss */
#modificarGrupos table h2 {
  margin-bottom: 0px;
}
/* line 54, ../sass/_grupo.scss */
#modificarGrupos th {
  color: #2a6496;
}
/* line 58, ../sass/_grupo.scss */
#modificarGrupos p {
  font-size: 15px;
}
/* line 62, ../sass/_grupo.scss */
#modificarGrupos h2 {
  text-align: center;
  font-size: 20px;
}
/* line 67, ../sass/_grupo.scss */
#modificarGrupos label {
  margin-left: 10% !important;
}
/* line 71, ../sass/_grupo.scss */
#modificarGrupos #agregarNuevos {
  margin-left: 36%;
}

/* line 76, ../sass/_grupo.scss */
#todoGrupos {
  margin-bottom: 0px;
  height: 100%;
}

/* line 81, ../sass/_grupo.scss */
.miMargen {
  margin-top: 1em;
}

/* line 85, ../sass/_grupo.scss */
.rayita {
  height: 100%;
  width: 10%;
  margin-left: 2%;
  background-color: #722d7b;
  position: absolute;
}

/* line 93, ../sass/_grupo.scss */
#estudiantes2 {
  margin-left: 10%;
  width: 93%;
}

/* line 100, ../sass/_grupo.scss */
#mostrarGrupos h2 {
  margin-left: 11%;
}
/* line 104, ../sass/_grupo.scss */
#mostrarGrupos li {
  margin-left: 11%;
}

/* line 1, ../sass/_slideshow.scss */
.slideshow-container {
  position: relative;
}
/* line 3, ../sass/_slideshow.scss */
.slideshow-container ul {
  list-style: none inside;
}
/* line 6, ../sass/_slideshow.scss */
.slideshow-container .slideshow {
  padding-left: 0px;
  width: 840px;
  height: 472px;
  overflow: hidden;
}
/* line 12, ../sass/_slideshow.scss */
.slideshow-container .slideshow-thumbs {
  position: absolute;
  top: 435px;
  left: 360px;
}
/* line 16, ../sass/_slideshow.scss */
.slideshow-container .slideshow-thumbs li {
  margin-left: 5px;
  float: left;
}
/* line 19, ../sass/_slideshow.scss */
.slideshow-container .slideshow-thumbs li:first-child {
  margin-left: 0px;
}
/* line 23, ../sass/_slideshow.scss */
.slideshow-container .slideshow-thumbs a {
  display: block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

/* line 1, ../sass/_proyectos.scss */
.cabecera-votacion h2, .cabecera-votacion a {
  display: inline-block;
}

/* line 4, ../sass/_proyectos.scss */
.wrap {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f4f3f3;
}

/* line 9, ../sass/_proyectos.scss */
.proyecto-top {
  width: 270px;
  border: 1px solid gray;
}

/* line 13, ../sass/_proyectos.scss */
.proyecto-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 22, ../sass/_proyectos.scss */
.proyecto-slider {
  margin: 8px 9px;
}

/* line 1, ../sass/_perfil.scss */
.cabecera-perfil {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 10px 15px;
}
/* line 8, ../sass/_perfil.scss */
.cabecera-perfil:last-child {
  margin-left: 15px;
}

/* line 12, ../sass/_perfil.scss */
.perfil-layout {
  padding: 10px 15px;
}
/* line 14, ../sass/_perfil.scss */
.perfil-layout h1 {
  text-align: center;
  vertical-align: middle;
}

/* line 20, ../sass/_perfil.scss */
.controls-right {
  display: -wekbit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row-reverse;
}
/* line 27, ../sass/_perfil.scss */
.controls-right .btn {
  margin-left: 20px;
}
