/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_base.scss */
body {
  background-color: #E3E1E1;
}

/*.container{
	background-color: $color-container;
}

.btn-default{
	background-color: $color-purple-buton;
	color:  $color-letra-button;
	border-color: $color-purple-buton;

	&:hover{
		background-color: $color-purple-buton;
		color: $color-letra-button;
		border-color: $color-purple-buton;
		opacity: 0.7;
	}
	&:focus{
		background-color: $color-purple-buton;
		color: $color-letra-button;
		border-color: $color-purple-buton;
	}

}*/
/* line 1, ../sass/_header.scss */
header {
  background: linear-gradient(to right, #a22068, #2e368f);
}
/* line 4, ../sass/_header.scss */
header #menuContainer {
  max-width: 60em;
  /*max-height: 110px;*/
  height: 5.625em;
  margin: 0 auto;
  font-size: 16px;
  padding-bottom: 2.2%;
}
/* line 12, ../sass/_header.scss */
header #menuContainer a {
  color: #ddd6d6;
}
/* line 17, ../sass/_header.scss */
header #menuCollapse ul {
  padding-top: 28px;
}
/* line 20, ../sass/_header.scss */
header .menuSesion {
  /*padding-left: 25px;*/
}
/* line 22, ../sass/_header.scss */
header .menuSesion .config {
  width: 45px;
}
/* line 26, ../sass/_header.scss */
header .menuList li {
  padding-left: 4px;
}
/* line 29, ../sass/_header.scss */
header .navbar-right img, header .navbar-right a, header #imgLogo {
  float: left;
}
/* line 32, ../sass/_header.scss */
header .signIn {
  text-align: right;
  margin-right: 90px;
  /*margin-top: 35px;*/
  margin-top: 18px;
}
/* line 38, ../sass/_header.scss */
header #imgLogo {
  padding-top: 10px;
}
/* line 41, ../sass/_header.scss */
header .imgLogoSmall {
  /*width: 70px;*/
  padding: 6px;
  width: 92px;
  padding: 6px;
  margin-left: 30%;
}
/* line 48, ../sass/_header.scss */
header .signIcon {
  padding-top: 16px;
  padding-left: 8px;
}
/* line 52, ../sass/_header.scss */
header #btnMenu:hover {
  background-color: #10167B;
}

/* line 1, ../sass/_footer.scss */
footer {
  background: linear-gradient(to right, #a22068, #2e368f);
}
/* line 5, ../sass/_footer.scss */
footer .cf:after, footer .cf:before {
  content: ' ';
  display: table;
}
/* line 9, ../sass/_footer.scss */
footer .cf:after {
  clear: both;
}
/* line 13, ../sass/_footer.scss */
footer .contFooter {
  max-width: 60em;
  margin: 0 auto;
  font-size: 13px;
  height: 95px;
  padding-top: 20px;
}
/* line 19, ../sass/_footer.scss */
footer .contFooter li {
  display: inline-block;
  float: left;
}
/* line 23, ../sass/_footer.scss */
footer .contFooter li:nth-child(2) {
  padding-left: 25px;
}
/* line 27, ../sass/_footer.scss */
footer .contFooter .txt {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 33, ../sass/_footer.scss */
footer .contFooter .sprite {
  background: url("../img/sprite.png") 0 0 no-repeat;
  width: 50px;
  height: 50px;
}
/* line 38, ../sass/_footer.scss */
footer .contFooter .fb {
  background-position: -0px -0px;
}
/* line 42, ../sass/_footer.scss */
footer .contFooter .twitter {
  background-position: -0px -50px;
}
/* line 47, ../sass/_footer.scss */
footer .contFooter .contInfoFooter {
  margin: 0 auto;
  /*max-width: 14.25em;*/
  text-align: center;
  line-height: 1.5;
  color: #ddd6d6;
  font-size: 0.813em;
}
/* line 55, ../sass/_footer.scss */
footer .contFooter .logoCenfotec {
  float: right;
}

/*Mixins*/
/* line 13, ../sass/_configuracion.scss */
body {
  overflow: visible !important;
  background: linear-gradient(to right, #a22068, #2e368f) !important;
}

/* line 17, ../sass/_configuracion.scss */
md-backdrop.md-select-backdrop {
  display: none !important;
}

/* line 20, ../sass/_configuracion.scss */
.md-backdrop {
  position: relative !important;
}

/* line 23, ../sass/_configuracion.scss */
md-input-container {
  overflow-x: visible !important;
}

/* line 26, ../sass/_configuracion.scss */
md-input-container.md-default-theme.md-input-invalid .md-input, .md-input {
  border-color: #967ba5;
  color: #757475 !important;
}

/* line 30, ../sass/_configuracion.scss */
md-input-container.md-default-theme.md-input-invalid label {
  color: #c7b9cf;
}

/* line 33, ../sass/_configuracion.scss */
.md-select-menu-container.md-active {
  z-index: 10001 !important;
}

/* line 36, ../sass/_configuracion.scss */
.md-select-label {
  color: #545355;
}

/* line 39, ../sass/_configuracion.scss */
md-input-container.md-default-theme.md-input-focused label {
  color: #c7b9cf !important;
}

/* line 42, ../sass/_configuracion.scss */
md-input-container.md-default-theme.md-input-focused .md-input {
  border-color: #967ba5 !important;
}

/* line 46, ../sass/_configuracion.scss */
.no-padding {
  padding-left: 0px;
}

/* line 50, ../sass/_configuracion.scss */
.panel-heading {
  background-color: #D5D5D5;
  border-radius: 0px;
  padding: 15px;
  cursor: pointer;
  color: #757475;
  font-weight: bold;
  border: 1px solid;
}

/* line 59, ../sass/_configuracion.scss */
h1, legend {
  color: #757475;
  font-weight: 500;
}

/* line 64, ../sass/_configuracion.scss */
.modal-header {
  background-color: 7f2774;
  color: ddd6d6 !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 69, ../sass/_configuracion.scss */
.modal-header h1, .modal-header h4 {
  color: ddd6d6 !important;
  text-align: center;
}
/* line 73, ../sass/_configuracion.scss */
.modal-header span {
  color: #ffffff;
}

/* line 77, ../sass/_configuracion.scss */
.displayNone {
  display: none;
}

/* line 80, ../sass/_configuracion.scss */
.displayBlock {
  display: block;
}

/* line 83, ../sass/_configuracion.scss */
.mainConfig {
  background-color: #e3e1e1;
  width: 100%;
}
/* line 86, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig {
  background-color: #f5f3f4;
  max-width: 60em;
  margin: 0 auto;
  min-height: 600px;
}
/* line 91, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig ul {
  padding-top: 20px;
}
/* line 93, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig ul li a {
  color: #757475;
  font-weight: bold;
}
/* line 97, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig ul .liMain > a:hover, .mainConfig .wrapperConfig ul .nav > li > a:focus {
  text-decoration: none;
  background-color: #D5D5D5;
}
/* line 101, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig ul li.active a {
  text-decoration: none;
  background-color: #D5D5D5;
}
/* line 105, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig ul li:first-child {
  padding-left: 15px;
}
/* line 109, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .errorSearch {
  font-size: 13px;
  color: #f44336;
  width: 272px;
  margin-top: 12px;
  display: none;
}
/* line 114, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .msgError {
  font-size: 13px;
  color: #f44336;
}
/* line 118, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig #modalExito, .mainConfig .wrapperConfig #modalExitoCarrera2, .mainConfig .wrapperConfig #inpId, .mainConfig .wrapperConfig #modalExitoCurso2, .mainConfig .wrapperConfig #inpUserId, .mainConfig .wrapperConfig #modalExitoUser, .mainConfig .wrapperConfig #modalExitoUser2, .mainConfig .wrapperConfig .errorVotacion, .mainConfig .wrapperConfig #modalExitoVotacion {
  display: none;
}
/* line 121, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig #modalContent {
  position: absolute;
  background-color: #dff0d8;
}
/* line 125, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig #modalExitoUser {
  position: relative;
  top: -32px;
}
/* line 129, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig #modalConfirm, .mainConfig .wrapperConfig #modalConfirmCarrera, .mainConfig .wrapperConfig #modalConfirmCurso, .mainConfig .wrapperConfig #modalConfirmUsuario {
  position: absolute;
  display: none;
  z-index: 10001;
}
/* line 134, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .btnConfirmModal {
  background-color: #722d7d;
  color: #ddd6d6;
}
/* line 137, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .btnAdd {
  color: #ffffff;
}
/* line 140, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formUser {
  padding-top: 30px;
}
/* line 142, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formUser legend {
  padding-left: 18px;
  font-size: 1.625em;
}
/* line 146, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formUser .msgErrorEmail {
  font-size: 13px;
  color: #f44336;
  width: 272px;
  margin-top: 12px;
  display: none;
}
/* line 151, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formUser #msgSuccess, .mainConfig .wrapperConfig .formUser .msgErrorUser, .mainConfig .wrapperConfig .formUser .msgErrorId {
  margin-left: 18px;
  width: 272px;
  margin-top: 12px;
  display: none;
}
/* line 155, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formUser #modalExitoUsuarios, .mainConfig .wrapperConfig .formUser #modalExitoCarrera, .mainConfig .wrapperConfig .formUser #modalExitoCurso {
  display: none;
  z-index: 100001;
  position: relative;
  top: -45px;
}
/* line 161, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formUser .btnAddUser {
  background-color: #722d7d;
  color: #ddd6d6;
  float: right;
  margin-right: 75px;
  margin-bottom: 40px;
}
/* line 167, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formUser .lblEdit a {
  color: #786c84;
  font-weight: bold;
}
/* line 171, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formUser .optCuatri {
  float: left;
}
/* line 174, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .formUser .optAno {
  float: right;
}
/* line 179, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .contUsuarios .inpSearchUser {
  padding-left: 35px;
}
/* line 182, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .contUsuarios .lblEditUser {
  padding-left: 50px;
}
/* line 184, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .contUsuarios .lblEditUser a {
  font-size: 16px;
}
/* line 188, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .contUsuarios .errPass, .mainConfig .wrapperConfig .contUsuarios .errPass2 {
  display: none;
}
/* line 191, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .contUsuarios .saveUser, .mainConfig .wrapperConfig .contUsuarios .cancelUser, .mainConfig .wrapperConfig .contUsuarios .saveUserAccess, .mainConfig .wrapperConfig .contUsuarios .cancelUserAccess, .mainConfig .wrapperConfig .contUsuarios .inpNewPass, .mainConfig .wrapperConfig .contUsuarios .inpNewPassConfirm {
  display: none;
}
/* line 194, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .contUsuarios .imgProfile {
  width: 120px;
  height: 120px;
  margin-top: 5px;
  position: absolute;
}
/* line 201, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .contVerUsuarios {
  padding-bottom: 1px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 205, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .contVerUsuarios thead {
  color: #545355;
  border-bottom: 3px solid #722d7b;
}
/* line 208, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .contVerUsuarios thead th {
  font-weight: bold;
}
/* line 212, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .contVerUsuarios tbody {
  font-size: 14px;
}
/* line 214, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .contVerUsuarios tbody tr {
  border-bottom: 2px solid #b68cbb;
}
/* line 219, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .containerModal {
  color: #757475;
}
/* line 221, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .containerModal span {
  font-weight: bold;
}
/* line 226, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig #modalInfoUser .info {
  float: left;
}
/* line 229, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig #modalInfoUser .contImgUser {
  float: right;
}
/* line 233, ../sass/_configuracion.scss */
.mainConfig .wrapperConfig .btnDatePicker {
  border: none;
  background-color: #f5f3f4;
  padding-top: 28px;
}
/* line 240, ../sass/_configuracion.scss */
.mainConfig .votacionControl h1, .mainConfig .votacionControl h2 {
  padding-left: 30px;
}
/* line 243, ../sass/_configuracion.scss */
.mainConfig .votacionControl h3 {
  color: #545355;
}
/* line 246, ../sass/_configuracion.scss */
.mainConfig .votacionControl h2 {
  color: #757475;
  font-size: 26px;
}
/* line 250, ../sass/_configuracion.scss */
.mainConfig .votacionControl .tVotacion {
  text-align: center;
  color: #835959;
}
/* line 254, ../sass/_configuracion.scss */
.mainConfig .votacionControl fieldset {
  padding-bottom: 40px;
}
/* line 257, ../sass/_configuracion.scss */
.mainConfig .votacionControl .chkVotacion {
  float: right;
  margin-top: -20px;
  margin-right: 36px;
}
/* line 262, ../sass/_configuracion.scss */
.mainConfig .votacionControl .mainProject {
  padding-left: 6%;
  padding-bottom: 30px;
}
/* line 266, ../sass/_configuracion.scss */
.mainConfig .votacionControl .projectInfo {
  width: 195px;
}
/* line 269, ../sass/_configuracion.scss */
.mainConfig .votacionControl .estrellaVot {
  padding-top: 6px;
}
/* line 272, ../sass/_configuracion.scss */
.mainConfig .votacionControl .estrellaVot .contStar span {
  margin-right: -4px;
  float: right;
  margin-top: -44px;
}
/* line 277, ../sass/_configuracion.scss */
.mainConfig .votacionControl .estrellaVot .contStar img {
  width: 45px;
}

/*MODAL EDITAR CURSO*/
/* line 288, ../sass/_configuracion.scss */
md-checkbox.md-default-theme.md-checked .md-icon {
  background-color: rgba(104, 57, 119, 0.87);
}

/*MODAL EDITAR CARRERA*/
/* line 294, ../sass/_configuracion.scss */
#modalEditarCarrera .contBuscarCarrera, #modalEditarCarrera .contBuscarCurso, #modalEditarCarrera .inpSearchUser, #modalEditarCarrera2 .contBuscarCarrera, #modalEditarCarrera2 .contBuscarCurso, #modalEditarCarrera2 .inpSearchUser, #modalEditarCurso .contBuscarCarrera, #modalEditarCurso .contBuscarCurso, #modalEditarCurso .inpSearchUser, #modalEditarCurso2 .contBuscarCarrera, #modalEditarCurso2 .contBuscarCurso, #modalEditarCurso2 .inpSearchUser, .formEditUser .contBuscarCarrera, .formEditUser .contBuscarCurso, .formEditUser .inpSearchUser {
  width: 50%;
}
/* line 296, ../sass/_configuracion.scss */
#modalEditarCarrera .contBuscarCarrera p, #modalEditarCarrera .contBuscarCurso p, #modalEditarCarrera .inpSearchUser p, #modalEditarCarrera2 .contBuscarCarrera p, #modalEditarCarrera2 .contBuscarCurso p, #modalEditarCarrera2 .inpSearchUser p, #modalEditarCurso .contBuscarCarrera p, #modalEditarCurso .contBuscarCurso p, #modalEditarCurso .inpSearchUser p, #modalEditarCurso2 .contBuscarCarrera p, #modalEditarCurso2 .contBuscarCurso p, #modalEditarCurso2 .inpSearchUser p, .formEditUser .contBuscarCarrera p, .formEditUser .contBuscarCurso p, .formEditUser .inpSearchUser p {
  width: 100%;
}
/* line 298, ../sass/_configuracion.scss */
#modalEditarCarrera .contBuscarCarrera p input, #modalEditarCarrera .contBuscarCurso p input, #modalEditarCarrera .inpSearchUser p input, #modalEditarCarrera2 .contBuscarCarrera p input, #modalEditarCarrera2 .contBuscarCurso p input, #modalEditarCarrera2 .inpSearchUser p input, #modalEditarCurso .contBuscarCarrera p input, #modalEditarCurso .contBuscarCurso p input, #modalEditarCurso .inpSearchUser p input, #modalEditarCurso2 .contBuscarCarrera p input, #modalEditarCurso2 .contBuscarCurso p input, #modalEditarCurso2 .inpSearchUser p input, .formEditUser .contBuscarCarrera p input, .formEditUser .contBuscarCurso p input, .formEditUser .inpSearchUser p input {
  float: left;
  width: 88%;
}
/* line 302, ../sass/_configuracion.scss */
#modalEditarCarrera .contBuscarCarrera p a, #modalEditarCarrera .contBuscarCurso p a, #modalEditarCarrera .inpSearchUser p a, #modalEditarCarrera2 .contBuscarCarrera p a, #modalEditarCarrera2 .contBuscarCurso p a, #modalEditarCarrera2 .inpSearchUser p a, #modalEditarCurso .contBuscarCarrera p a, #modalEditarCurso .contBuscarCurso p a, #modalEditarCurso .inpSearchUser p a, #modalEditarCurso2 .contBuscarCarrera p a, #modalEditarCurso2 .contBuscarCurso p a, #modalEditarCurso2 .inpSearchUser p a, .formEditUser .contBuscarCarrera p a, .formEditUser .contBuscarCurso p a, .formEditUser .inpSearchUser p a {
  float: right;
  margin-top: 10px;
  padding-left: 5px;
  width: 12%;
}

/*BUTTON UPLOAD*/
/* line 313, ../sass/_configuracion.scss */
.upload-buttons input[type="file"] {
  width: 6.3em \0/IE9;
}

/* line 317, ../sass/_configuracion.scss */
.upload-button {
  Height: 26px;
  line-height: 30px;
  padding: 0 10px;
  background: #CCC;
  appearance: button;
  position: relative;
  text-align: center;
  top: 7px;
  cursor: pointer;
}

/* line 330, ../sass/_configuracion.scss */
.sel-file {
  padding: 1px 5px;
  font-size: smaller;
  color: grey;
}

/* line 336, ../sass/_configuracion.scss */
.response {
  padding: 0;
  padding-top: 10px;
  margin: 3px 0;
  clear: both;
}

/* line 343, ../sass/_configuracion.scss */
.response .sel-file li, .response .reqh {
  color: blue;
  padding-bottom: 5px;
}

/* line 349, ../sass/_configuracion.scss */
.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

/* line 355, ../sass/_configuracion.scss */
.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

/* line 362, ../sass/_configuracion.scss */
.up-buttons {
  float: left;
}

/* line 366, ../sass/_configuracion.scss */
button {
  padding: 1px 5px;
  font-size: smaller;
  margin: 0 3px;
}

/* line 372, ../sass/_configuracion.scss */
#listImg {
  padding-top: 0px;
}

/* line 376, ../sass/_configuracion.scss */
.thumb {
  float: left;
  width: 85px;
  height: 70px;
  padding-right: 10px;
}

/*form .thumb {
	width: 24px;
	height: 24px;
	float: none;
	position: relative;
	top: 7px;
}*/
/* line 391, ../sass/_configuracion.scss */
form .progress {
  line-height: 15px;
}

/* line 395, ../sass/_configuracion.scss */
.edit-area {
  font-size: 14px;
  background: black;
  color: #f9f9f9;
  padding: 5px 1px;
}

/* line 403, ../sass/_configuracion.scss */
.edit-div {
  font-size: smaller;
}

/* line 407, ../sass/_configuracion.scss */
.CodeMirror {
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

/* line 414, ../sass/_configuracion.scss */
.err {
  font-size: 12px;
  color: #C53F00;
  margin: 15px;
  padding: 15px;
  background-color: #F0F0F0;
  border: 1px solid black;
}

/* line 423, ../sass/_configuracion.scss */
:not(output):-moz-ui-invalid {
  box-shadow: none;
}

/*Estilos Guillermo*/
@-webkit-keyframes ld {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-moz-keyframes ld {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-o-keyframes ld {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes ld {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
/* line 23, ../sass/_rubricaEstilo.scss */
.m-progressBorrado {
  position: relative;
  opacity: .8;
  color: transparent !important;
  text-shadow: none !important;
}

/* line 30, ../sass/_rubricaEstilo.scss */
.m-progressBorrado:hover,
.m-progressBorrado:active,
.m-progressBorrado:focus {
  cursor: default;
  color: transparent;
  outline: none !important;
  box-shadow: none;
}

/* line 39, ../sass/_rubricaEstilo.scss */
.m-progressBorrado:before {
  content: '';
  display: inline-block;
  position: absolute;
  background: transparent;
  border: 1px solid #fff;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  width: 24px;
  height: 24px;
  -webkit-animation: ld 1s ease-in-out infinite;
  -moz-animation: ld 1s ease-in-out infinite;
  -o-animation: ld 1s ease-in-out infinite;
  animation: ld 1s ease-in-out infinite;
}

/* line 67, ../sass/_rubricaEstilo.scss */
.SliderSinFlechas a {
  display: none;
}

/* line 71, ../sass/_rubricaEstilo.scss */
.tablaCursotemporal {
  margin-top: 2em;
}

/* line 75, ../sass/_rubricaEstilo.scss */
.aliasBtnR {
  margin-right: 10%;
}

/* line 79, ../sass/_rubricaEstilo.scss */
.alinieminento {
  margin: 0 auto !important;
  max-width: 318px !important;
  position: relative !important;
}

/* line 84, ../sass/_rubricaEstilo.scss */
#formAddR {
  margin-top: 2em;
}

/* line 88, ../sass/_rubricaEstilo.scss */
.imgtbGrupoDelete {
  width: 5% !important;
}

/* line 92, ../sass/_rubricaEstilo.scss */
.contendorNuevaRubrica {
  width: 90%;
  margin: 0 auto;
}
/* line 95, ../sass/_rubricaEstilo.scss */
.contendorNuevaRubrica #nuevRub {
  border-bottom: 2px solid #b68cbb;
}
/* line 97, ../sass/_rubricaEstilo.scss */
.contendorNuevaRubrica #nuevRub button {
  margin-bottom: 1em;
}

/* line 104, ../sass/_rubricaEstilo.scss */
#tableGrupoCurso th, #tableRubricas th, #tableGrupoCurso th {
  border: none;
  font-weight: bold;
  color: #545355;
}
/* line 109, ../sass/_rubricaEstilo.scss */
#tableGrupoCurso tr, #tableRubricas tr, #tableGrupoCurso tr {
  border-bottom: 2px solid #b68cbb;
}

/* line 114, ../sass/_rubricaEstilo.scss */
.tablaDetallesCurso {
  width: 100%;
  margin-top: 1em;
}
/* line 117, ../sass/_rubricaEstilo.scss */
.tablaDetallesCurso tr {
  width: 100%;
}
/* line 119, ../sass/_rubricaEstilo.scss */
.tablaDetallesCurso tr td {
  width: 20%;
}

/* line 125, ../sass/_rubricaEstilo.scss */
.spaceB {
  margin-top: 1em;
}

/* line 129, ../sass/_rubricaEstilo.scss */
.spaceB:last-child {
  margin-bottom: 2em;
}

/* line 133, ../sass/_rubricaEstilo.scss */
.tablaDetallesCursoEstu {
  width: 100%;
  margin-top: 1em;
}
/* line 136, ../sass/_rubricaEstilo.scss */
.tablaDetallesCursoEstu tr {
  width: 100%;
}
/* line 138, ../sass/_rubricaEstilo.scss */
.tablaDetallesCursoEstu tr td {
  width: 100%;
  display: inline;
}

/* line 147, ../sass/_rubricaEstilo.scss */
#navegacionDirector .nav > li > a:focus {
  color: white !important;
  text-decoration: none;
  background-color: #722d7b;
}

/* line 155, ../sass/_rubricaEstilo.scss */
.cajaRubrica {
  width: 100%;
  display: inline-block;
}
/* line 158, ../sass/_rubricaEstilo.scss */
.cajaRubrica .cont {
  width: 80%;
}
/* line 161, ../sass/_rubricaEstilo.scss */
.cajaRubrica .imagN {
  margin-top: 8%;
}

/* line 166, ../sass/_rubricaEstilo.scss */
.borrarRub {
  display: inline;
}

/* line 170, ../sass/_rubricaEstilo.scss */
.errorMsj {
  background-color: transparent;
  font-size: 13px;
}

/* line 175, ../sass/_rubricaEstilo.scss */
.jusH {
  display: inline;
}

/* line 180, ../sass/_rubricaEstilo.scss */
.nays {
  margin-top: 2em;
}

/* line 184, ../sass/_rubricaEstilo.scss */
.comie {
  margin-top: 2em;
}

/* line 188, ../sass/_rubricaEstilo.scss */
.oneinrow {
  width: 30%;
  margin-left: 3%;
}

/* line 193, ../sass/_rubricaEstilo.scss */
.twoinrow {
  width: 65%;
}

/* line 198, ../sass/_rubricaEstilo.scss */
.maxVal {
  /*height: 35em;*/
  overflow-y: scroll;
}

/* line 203, ../sass/_rubricaEstilo.scss */
#ContenedorRubricas {
  /*max-width: 60em;*/
  padding-bottom: 1px;
}

/* line 208, ../sass/_rubricaEstilo.scss */
.errormsj {
  width: 83%;
}

/* line 212, ../sass/_rubricaEstilo.scss */
.errormsj2 {
  width: 78%;
  margin-left: 20%;
}

/* line 217, ../sass/_rubricaEstilo.scss */
.izquierdaCaja {
  width: 40%;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 223, ../sass/_rubricaEstilo.scss */
.RubricaCaja {
  width: 90%;
  margin: 0 auto;
}

/* line 228, ../sass/_rubricaEstilo.scss */
.derechaCaja {
  width: 50%;
  margin-right: 5%;
  position: relative;
}
/* line 232, ../sass/_rubricaEstilo.scss */
.derechaCaja h3 {
  margin-left: 10%;
}
/* line 235, ../sass/_rubricaEstilo.scss */
.derechaCaja .estiloCaja {
  padding-left: 10%;
}

/* line 240, ../sass/_rubricaEstilo.scss */
.rayaCentral {
  /*height: 30em;*/
  width: 1%;
  background-color: gray;
  position: absolute;
}

/* line 247, ../sass/_rubricaEstilo.scss */
.simpleColor {
  background-color: #722d7b !important;
  color: #fff !important;
}

/* line 252, ../sass/_rubricaEstilo.scss */
.contenedorDeCajas {
  height: 24em;
  overflow-y: scroll;
}

/* line 256, ../sass/_rubricaEstilo.scss */
.misTitulos {
  font-weight: bold;
  color: #545355;
}

/* line 261, ../sass/_rubricaEstilo.scss */
.tBold th {
  font-weight: bold;
  color: #545355;
}

/* line 268, ../sass/_rubricaEstilo.scss */
.contenedorRubricasUi h3 {
  font-size: 1.87em;
  font-weight: bold;
  color: #757475;
  text-align: center;
}
/* line 275, ../sass/_rubricaEstilo.scss */
.contenedorRubricasUi .inpSearchStudent p {
  width: 100%;
}
/* line 277, ../sass/_rubricaEstilo.scss */
.contenedorRubricasUi .inpSearchStudent p .searchStudent {
  float: left;
  width: 88%;
}
/* line 281, ../sass/_rubricaEstilo.scss */
.contenedorRubricasUi .inpSearchStudent p a {
  float: right;
  margin-top: 10px;
  padding-left: 5px;
  width: 12%;
}
/* line 289, ../sass/_rubricaEstilo.scss */
.contenedorRubricasUi .btnContainer {
  padding-top: 28px;
}
/* line 293, ../sass/_rubricaEstilo.scss */
.contenedorRubricasUi .nombreEstudiante label {
  color: #545355;
  font-weight: bold;
}
/* line 297, ../sass/_rubricaEstilo.scss */
.contenedorRubricasUi .nombreEstudiante span {
  font-weight: 400;
}
/* line 302, ../sass/_rubricaEstilo.scss */
.contenedorRubricasUi #tableNotas th {
  font-weight: bold;
  vertical-align: middle;
  color: #545355;
}
/* line 307, ../sass/_rubricaEstilo.scss */
.contenedorRubricasUi #tableNotas tr {
  border-top: 2px solid #b68cbb;
}
/* line 310, ../sass/_rubricaEstilo.scss */
.contenedorRubricasUi #tableNotas td {
  vertical-align: middle;
}
/* line 313, ../sass/_rubricaEstilo.scss */
.contenedorRubricasUi #tableNotas .tValor {
  padding-bottom: 2px;
}
/* line 316, ../sass/_rubricaEstilo.scss */
.contenedorRubricasUi #tableNotas .lastTr {
  border-bottom: 2px solid #b68cbb;
}
/* line 319, ../sass/_rubricaEstilo.scss */
.contenedorRubricasUi #tableNotas .valorRubrica {
  width: 45%;
}

/* line 326, ../sass/_rubricaEstilo.scss */
#rubricasModal {
  /* form starting stylings ------------------------------- */
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */
}
/* line 328, ../sass/_rubricaEstilo.scss */
#rubricasModal .group {
  position: relative;
  margin-bottom: 45px;
}
/* line 332, ../sass/_rubricaEstilo.scss */
#rubricasModal input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
/* line 341, ../sass/_rubricaEstilo.scss */
#rubricasModal input:focus {
  outline: none;
}
/* line 344, ../sass/_rubricaEstilo.scss */
#rubricasModal label {
  color: #c7b9cf;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* line 358, ../sass/_rubricaEstilo.scss */
#rubricasModal input:focus ~ label, #rubricasModal input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color-color: rgba(0, 0, 0, 0.26);
}
/* line 365, ../sass/_rubricaEstilo.scss */
#rubricasModal .bar {
  position: relative;
  display: block;
  width: 300px;
}
/* line 366, ../sass/_rubricaEstilo.scss */
#rubricasModal .bar:before, #rubricasModal .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.26);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* line 377, ../sass/_rubricaEstilo.scss */
#rubricasModal .bar:before {
  left: 50%;
}
/* line 380, ../sass/_rubricaEstilo.scss */
#rubricasModal .bar:after {
  right: 50%;
}
/* line 385, ../sass/_rubricaEstilo.scss */
#rubricasModal input:focus ~ .bar:before, #rubricasModal input:focus ~ .bar:after {
  width: 50%;
}
/* line 390, ../sass/_rubricaEstilo.scss */
#rubricasModal .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
/* line 401, ../sass/_rubricaEstilo.scss */
#rubricasModal input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
  from {
    background-color: rgba(0, 0, 0, 0.26);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background-color: rgba(0, 0, 0, 0.26);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background-color: rgba(0, 0, 0, 0.26);
  }
  to {
    width: 0;
    background: transparent;
  }
}
/* line 1, ../sass/_documentos.scss */
.col-centered {
  float: none;
  margin: 0 auto;
  background-color: #e3e1e1;
  overflow: auto;
}

/* line 8, ../sass/_documentos.scss */
.logo {
  width: 100%;
  height: auto;
  margin-top: 0.6em;
  text-align: center;
}

/* line 14, ../sass/_documentos.scss */
.title-page {
  font-size: 1.875em;
  font-weight: bold;
  color: #757475;
  display: inline-block;
}

/* line 21, ../sass/_documentos.scss */
.search {
  margin-top: 1em;
}
/* line 26, ../sass/_documentos.scss */
.search .form-group input {
  width: 70%;
  float: left;
}
/* line 32, ../sass/_documentos.scss */
.search input::-webkit-input-placeholder {
  color: #c7b9cf;
}

/* line 38, ../sass/_documentos.scss */
#searchGlyph {
  top: 5px;
  left: -2em;
}

/* line 43, ../sass/_documentos.scss */
.documentos-disponibles {
  margin-top: 1em;
}

/* line 47, ../sass/_documentos.scss */
.documentos {
  border: 1px solid #e3e1e1;
  padding: 1em;
  margin-bottom: 1em;
  font-family: "helvetica";
  font-size: 14px;
}
/* line 54, ../sass/_documentos.scss */
.documentos .titulo {
  font-size: 20px;
  color: #722d7d;
  font-weight: normal;
  display: inline-block;
  margin: 0;
}
/* line 62, ../sass/_documentos.scss */
.documentos .date-and-group {
  display: inline-block;
}
/* line 65, ../sass/_documentos.scss */
.documentos .date-and-group span {
  margin-left: 1em;
}
/* line 69, ../sass/_documentos.scss */
.documentos .ordenar-links {
  text-align: right;
}
/* line 71, ../sass/_documentos.scss */
.documentos .ordenar-links a {
  color: #5F3870;
}
/* line 75, ../sass/_documentos.scss */
.documentos p {
  margin: 0.5em 0 0.3em 0;
}

/* line 81, ../sass/_documentos.scss */
.mejores-proyectos .logo {
  background-color: #722d7d;
  padding: 0.5em;
  margin: 0;
}
/* line 86, ../sass/_documentos.scss */
.mejores-proyectos .logo h1 {
  font-size: 20px;
  color: #ffffff;
  margin-left: 0.5em;
}
/* line 92, ../sass/_documentos.scss */
.mejores-proyectos .information {
  border: 1px solid #e3e1e1;
  margin-top: 1em;
  padding: 1em;
}

/* line 101, ../sass/_documentos.scss */
.modal-documentos .modal-body input {
  margin-bottom: 1em;
}
/* line 104, ../sass/_documentos.scss */
.modal-documentos .modal-body div {
  margin-left: 0 !important;
}

/* line 109, ../sass/_documentos.scss */
.link {
  text-align: right;
}

/* line 113, ../sass/_documentos.scss */
.information h1 {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 0.7em;
}

/* line 120, ../sass/_documentos.scss */
.AddDocument {
  background-color: #722d7d;
  color: #ddd6d6;
  border: 1px solid #722D7D;
  margin: 0;
}
/* line 126, ../sass/_documentos.scss */
.AddDocument:hover {
  background-color: #722d7d;
  color: #ddd6d6;
  border: 1px solid #722D7D;
  opacity: 0.7;
}

/* line 133, ../sass/_documentos.scss */
.saveDoc {
  background-color: #722d7d;
  color: #ddd6d6;
  border: 1px solid #722D7D;
}
/* line 137, ../sass/_documentos.scss */
.saveDoc:hover {
  background-color: #722d7d;
  color: #ddd6d6;
  opacity: 0.7;
}

/* line 1, ../sass/_reportes.scss */
.listdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}

/* line 8, ../sass/_reportes.scss */
#reportes {
  background-color: #f5f3f4;
  max-width: 60em;
}
/* line 12, ../sass/_reportes.scss */
#reportes .search-report {
  margin-bottom: 1em;
  margin-left: 4em;
}
/* line 16, ../sass/_reportes.scss */
#reportes #searchGlyph {
  top: 11px;
}

/* line 22, ../sass/_reportes.scss */
.information-reports div,
.information-reports h3,
.information-reports h4 {
  display: inline-block;
}
/* line 27, ../sass/_reportes.scss */
.information-reports h3 {
  font-size: 0.93223em !important;
  font-weight: bold !important;
}

/* line 33, ../sass/_reportes.scss */
md-item-content.div {
  border: 1px solid #e3e1e1 !important;
  min-height: 9em;
  margin-bottom: 1em;
}

/* line 38, ../sass/_reportes.scss */
.min-heigth {
  min-height: 40em;
}

/* line 43, ../sass/_reportes.scss */
.result img {
  width: 48px;
  height: 48px;
}
/* line 47, ../sass/_reportes.scss */
.result .header-info {
  display: inline-block;
  font-size: 13px;
  margin-left: 1em;
  width: 100%;
}
/* line 53, ../sass/_reportes.scss */
.result .header-info strong {
  font-weight: bold;
  font-size: 15px;
}

/* line 61, ../sass/_reportes.scss */
.link a {
  color: #752977;
  cursor: pointer;
}

/* line 67, ../sass/_reportes.scss */
.primary {
  border-bottom: 3px solid  #752977;
  padding-bottom: 0.6em;
}
/* line 71, ../sass/_reportes.scss */
.primary div {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  width: 24%;
}
/* line 77, ../sass/_reportes.scss */
.primary .credits {
  text-align: center;
}

/* line 82, ../sass/_reportes.scss */
.secundary {
  padding-top: 0.7em;
  border-bottom: 2px solid #D4B6D8;
  padding-bottom: 0.6em;
}
/* line 86, ../sass/_reportes.scss */
.secundary div {
  display: inline-block;
  width: 24%;
}
/* line 90, ../sass/_reportes.scss */
.secundary .curso {
  width: 26%;
}
/* line 93, ../sass/_reportes.scss */
.secundary .credito,
.secundary .cuatrimestre {
  width: 18%;
  text-align: center;
}

/* line 100, ../sass/_reportes.scss */
.float {
  width: 40%;
  float: left;
}

/* line 5, ../sass/_grupo.scss */
.tablasFull table th {
  border-bottom: 2px solid #97226b !important;
}
/* line 9, ../sass/_grupo.scss */
.tablasFull table td {
  border-bottom: 2px solid #97226b !important;
}

/* line 15, ../sass/_grupo.scss */
#crearGrupo {
  padding-bottom: 1%;
}

/* line 22, ../sass/_grupo.scss */
#modalNuevoGrupo table {
  margin-bottom: 0px;
  margin-left: 5%;
  width: 93.5%;
}
/* line 28, ../sass/_grupo.scss */
#modalNuevoGrupo input {
  width: 96%;
  margin-left: 3%;
}
/* line 33, ../sass/_grupo.scss */
#modalNuevoGrupo select {
  margin-left: 6%;
  width: 90%;
}
/* line 38, ../sass/_grupo.scss */
#modalNuevoGrupo span {
  font-size: 13px;
  background: none;
  margin-left: 6%;
}
/* line 44, ../sass/_grupo.scss */
#modalNuevoGrupo label {
  margin-left: 6% !important;
  margin-top: 3%;
}
/* line 49, ../sass/_grupo.scss */
#modalNuevoGrupo h1 {
  font-size: 2em;
}
/* line 53, ../sass/_grupo.scss */
#modalNuevoGrupo #ordenar1 {
  margin-left: 0px;
}

/* line 61, ../sass/_grupo.scss */
#modificarGrupos span {
  background: none;
  font-size: 13px;
}
/* line 66, ../sass/_grupo.scss */
#modificarGrupos h1 {
  font-size: 1.875em;
  font-weight: bold;
  color: white;
}
/* line 72, ../sass/_grupo.scss */
#modificarGrupos table {
  margin-bottom: 0px;
}
/* line 76, ../sass/_grupo.scss */
#modificarGrupos .modal-dialog {
  width: 81% !important;
}
/* line 80, ../sass/_grupo.scss */
#modificarGrupos th {
  color: #2a6496;
}
/* line 84, ../sass/_grupo.scss */
#modificarGrupos p {
  font-size: 15px;
}
/* line 88, ../sass/_grupo.scss */
#modificarGrupos h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #757475;
  margin-bottom: 0px;
}
/* line 101, ../sass/_grupo.scss */
#modificarGrupos #agregarNuevos {
  margin-top: 1%;
}

/* line 106, ../sass/_grupo.scss */
#todoGrupos {
  margin-bottom: 0px;
  height: 100%;
}

/* line 112, ../sass/_grupo.scss */
.miMargen {
  margin-top: 1em;
}

/* line 117, ../sass/_grupo.scss */
.rayita {
  height: 100%;
  width: 10%;
  margin-left: 2%;
  background-color: #722d7b;
  position: absolute;
}

/* line 128, ../sass/_grupo.scss */
#mostrarGrupos h1 {
  font-size: 2em;
  text-align: center;
}
/* line 133, ../sass/_grupo.scss */
#mostrarGrupos li {
  margin-left: 11%;
}

/* line 140, ../sass/_grupo.scss */
#navegacionProfesor .nav > li > a:focus {
  color: white !important;
  text-decoration: none;
  background-color: #722d7b;
}

/* line 150, ../sass/_grupo.scss */
#ulMostrarEnviado li {
  margin-left: 12%;
}

/* line 157, ../sass/_grupo.scss */
#mostrarEnviados h1 {
  font-size: 2em;
  text-align: center;
}

/* line 165, ../sass/_grupo.scss */
#mostrarArchivos .contenedorDeCajas {
  margin-left: 11%;
}
/* line 170, ../sass/_grupo.scss */
#mostrarArchivos h1 {
  text-align: center;
  font-size: 2em;
}
/* line 175, ../sass/_grupo.scss */
#mostrarArchivos h4 {
  color: #428bca;
}

/* line 183, ../sass/_grupo.scss */
#subirArchivos #errorArchivoGrupo {
  margin-left: 2%;
}
/* line 187, ../sass/_grupo.scss */
#subirArchivos label {
  margin-top: 3%;
  margin-bottom: 1%;
}
/* line 192, ../sass/_grupo.scss */
#subirArchivos span {
  font-size: 13px;
  background: none;
}
/* line 197, ../sass/_grupo.scss */
#subirArchivos h1 {
  text-align: center;
  font-size: 2em;
}
/* line 202, ../sass/_grupo.scss */
#subirArchivos select {
  margin-left: 2%;
  width: 96%;
}
/* line 207, ../sass/_grupo.scss */
#subirArchivos #btnSubir {
  margin-left: 3%;
}
/* line 211, ../sass/_grupo.scss */
#subirArchivos #lvl {
  margin-left: 2%;
}

/* line 218, ../sass/_grupo.scss */
.contenedorRubricasUi h1 {
  font-size: 1.875em;
  font-weight: bold;
  color: #757475;
  text-align: center;
}
/* line 225, ../sass/_grupo.scss */
.contenedorRubricasUi #fechas {
  background-color: transparent !important;
}

/* line 230, ../sass/_grupo.scss */
.nofl {
  float: none !important;
}

/* line 234, ../sass/_grupo.scss */
#archivosbox {
  padding: 0px;
}

/* line 240, ../sass/_grupo.scss */
#mostrarMiGrupo h1 {
  font-size: 1.875em;
  font-weight: bold;
  color: #757475;
  text-align: center;
}
/* line 247, ../sass/_grupo.scss */
#mostrarMiGrupo h4 {
  color: #428bca;
}

/* line 252, ../sass/_grupo.scss */
#navegacionEstudiante .nav > li > a:focus {
  color: white !important;
  text-decoration: none;
  background-color: #722d7b;
}

/* line 258, ../sass/_grupo.scss */
.fechaGrupo {
  margin-left: 2%;
}

/* line 262, ../sass/_grupo.scss */
.colorDeTitulos {
  color: #428bca;
}

/* line 266, ../sass/_grupo.scss */
.contenedorDeCajas3 {
  overflow-y: scroll;
}

/* line 270, ../sass/_grupo.scss */
.misTitulos {
  font-weight: bold;
  color: #545355 !important;
}

/* line 275, ../sass/_grupo.scss */
.mipos {
  position: absolute;
}

/* line 279, ../sass/_grupo.scss */
.ventanasGru {
  margin: 0 auto !important;
  max-width: 318px !important;
  position: relative !important;
}

@keyframes example {
  from {
    background-color: white;
  }
  to {
    background-color: black;
  }
}
/* line 289, ../sass/_grupo.scss */
#infoT {
  background-color: white;
}

/* line 293, ../sass/_grupo.scss */
#infoT:hover {
  animation-name: example;
  animation-duration: 0.5s;
  background: black;
  transition: all 0.2s ease;
}
/* line 298, ../sass/_grupo.scss */
#infoT:hover a {
  color: green;
}
/* line 301, ../sass/_grupo.scss */
#infoT:hover h4 {
  color: white;
}

/* line 307, ../sass/_grupo.scss */
#stylish:hover {
  opacity: 0.5;
}

/* line 314, ../sass/_grupo.scss */
#wrapper #miImg {
  border: 3px solid #97226b !important;
}

/* line 319, ../sass/_grupo.scss */
#wrapper .text {
  font-size: 1.3em;
  position: relative;
  bottom: 114px;
  left: 27px;
  visibility: hidden;
}

/* line 327, ../sass/_grupo.scss */
#wrapper:hover .text {
  opacity: 0.5;
  visibility: visible;
}

/* line 332, ../sass/_grupo.scss */
#wrapper:hover #miImg {
  opacity: 0.5;
}

/* line 336, ../sass/_grupo.scss */
.noM {
  margin-bottom: 0px !important;
}

/* line 340, ../sass/_grupo.scss */
.pBlanco {
  color: white !important;
  background: purple;
}

/* line 347, ../sass/_grupo.scss */
#todoPortafolio h1 {
  font-size: 1.87em;
  font-weight: bold;
  color: #757475;
  text-align: center;
}

/* line 355, ../sass/_grupo.scss */
#divUl {
  padding-left: 3%;
  padding-top: 4%;
}

/* line 359, ../sass/_grupo.scss */
#stylish {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin: 0 22px 22px 0;
  position: relative;
  width: 100%;
  max-height: 135px;
  min-height: 135px;
}

/* line 369, ../sass/_grupo.scss */
.borrarPortafolio {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 22%;
  top: -3%;
}

/* line 378, ../sass/_grupo.scss */
#miInfo h2 {
  text-align: center;
}
/* line 382, ../sass/_grupo.scss */
#miInfo h4 {
  text-align: center;
}

/* line 387, ../sass/_grupo.scss */
#infoT {
  max-height: 181px;
}

/* line 392, ../sass/_grupo.scss */
.nada {
  display: none !important;
}

/* line 398, ../sass/_grupo.scss */
#botonesEditar img {
  float: right;
}

@media print {
  /* line 406, ../sass/_grupo.scss */
  #botonesEditar {
    display: none;
  }

  /* line 410, ../sass/_grupo.scss */
  #editarNoVer {
    display: none;
  }

  /* line 414, ../sass/_grupo.scss */
  #wrapper {
    width: 50%;
  }
  /* line 417, ../sass/_grupo.scss */
  #wrapper #miImg {
    border: 1px !important;
    border-radius: 0% !important;
  }

  /* line 423, ../sass/_grupo.scss */
  .contInfoFooter {
    margin-left: 22% !important;
  }

  /* line 427, ../sass/_grupo.scss */
  #menuContainer {
    display: none;
  }
}
@media print {
  /* line 2, ../sass/_perfil.scss */
  .btnPrint {
    display: none;
  }
}
/* line 6, ../sass/_perfil.scss */
.perfil-layout {
  width: 100%;
  padding: 25px 40px 25px 45px;
}
/* line 9, ../sass/_perfil.scss */
.perfil-layout .perfilInfo {
  width: 85%;
}
/* line 12, ../sass/_perfil.scss */
.perfil-layout .perfilImg {
  padding-top: 35px;
}
/* line 14, ../sass/_perfil.scss */
.perfil-layout .perfilImg .btnCambiarImg {
  margin-top: -60px;
  margin-left: 78px;
  display: none;
}
/* line 19, ../sass/_perfil.scss */
.perfil-layout .perfilImg img {
  border: 3px solid #97226b;
  width: 270px;
  cursor: pointer;
}
/* line 23, ../sass/_perfil.scss */
.perfil-layout .perfilImg img:hover {
  opacity: 0.4;
}
/* line 27, ../sass/_perfil.scss */
.perfil-layout .perfilImg:hover .btnCambiarImg {
  display: block;
}
/* line 31, ../sass/_perfil.scss */
.perfil-layout .changeImg {
  margin-top: -60px;
  margin-left: 78px;
  position: absolute;
  z-index: 10001;
}
/* line 36, ../sass/_perfil.scss */
.perfil-layout .changeImg a {
  color: #353535;
}
/* line 40, ../sass/_perfil.scss */
.perfil-layout .perfilDatos {
  padding-top: 90px;
  padding-bottom: 20px;
}
/* line 44, ../sass/_perfil.scss */
.perfil-layout .tNombre {
  border-top: 2px solid #f5f3f4;
}
/* line 47, ../sass/_perfil.scss */
.perfil-layout .tInfo {
  font-weight: bold;
}
/* line 50, ../sass/_perfil.scss */
.perfil-layout tr {
  border-top: 2px solid #97226b;
}
/* line 53, ../sass/_perfil.scss */
.perfil-layout .editCont {
  float: right;
}
/* line 55, ../sass/_perfil.scss */
.perfil-layout .editCont .lblPortfolio {
  float: right;
}
/* line 59, ../sass/_perfil.scss */
.perfil-layout .editCont .lblEditUser a, .perfil-layout .editCont .lblPortfolio a {
  color: #786c84;
  font-weight: bold;
}

/* line 66, ../sass/_perfil.scss */
#modalExitoPerfil {
  display: none;
}

/* line 69, ../sass/_perfil.scss */
.cabecera-container {
  width: 62.5%;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

/* line 76, ../sass/_perfil.scss */
.centrado-perfil {
  width: 25.6%;
}

/* line 79, ../sass/_perfil.scss */
.cabecera-slogan {
  width: 72%;
}

/* line 82, ../sass/_perfil.scss */
.cuerpo-perfil {
  width: 62.5%;
  margin: 0 auto;
}

/* line 86, ../sass/_perfil.scss */
.cabcera-portafolio {
  width: 25.6%;
}

/* line 1, ../sass/_proyectos.scss */
.cabecera-votacion h2, .cabecera-votacion a {
  display: inline-block;
}

/* line 4, ../sass/_proyectos.scss */
.wrap {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f4f3f3;
}

/* line 9, ../sass/_proyectos.scss */
.proyecto-top {
  width: 270px;
  border: 1px solid gray;
  padding: 15px 16px;
}

/* line 14, ../sass/_proyectos.scss */
.proyecto-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 23, ../sass/_proyectos.scss */
.proyecto-slider {
  margin: 8px 9px;
}

/* line 26, ../sass/_proyectos.scss */
.btn-right {
  float: right;
}

/* line 29, ../sass/_proyectos.scss */
#proyecto-portafolio {
  list-style: none inside;
  padding: 0;
  margin: 1em 1.5625%;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 36, ../sass/_proyectos.scss */
#proyecto-portafolio li {
  width: 20.83333333333333%;
}
/* line 39, ../sass/_proyectos.scss */
#proyecto-portafolio img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 1, ../sass/_slideshow.scss */
.sliderHome {
  width: 100%;
  margin: 0 auto;
  padding-top: 2em;
}

/* line 1, ../sass/_login.scss */
.center {
  text-align: center;
}

/* line 4, ../sass/_login.scss */
.btnLogin {
  background-color: #722d7d;
  color: #ddd6d6;
}
/* line 7, ../sass/_login.scss */
.btnLogin:hover {
  opacity: 0.7;
  color: #ddd6d6;
}

/* line 13, ../sass/_login.scss */
.modal-login {
  border-top: 0;
}

/* line 17, ../sass/_login.scss */
.msgdanger {
  font-size: 13px;
  color: red;
}

/* line 21, ../sass/_login.scss */
.msguser {
  font-size: 13px;
  color: red;
}

/* line 25, ../sass/_login.scss */
.ingresar-login {
  text-align: right;
}

/* line 28, ../sass/_login.scss */
.contrasena {
  color: #722d7d;
}
/* line 30, ../sass/_login.scss */
.contrasena:hover {
  color: #722d7d;
}

/* line 34, ../sass/_login.scss */
#user-profile {
  width: 25px;
  height: 25px;
  /*margin-top: 0.7em;
  margin-left: 1em;*/
  margin-right: 18px;
  margin-bottom: -2px;
}

/*Media queries*/
@media screen and (max-width: 768px) {
  /* line 7, ../sass/_mediaQuery.scss */
  .mainConfig .wrapperConfig .menuConfig li, .mainConfig .wrapperConfig #ContenedorRubricias li {
    width: 100%;
  }
  /* line 12, ../sass/_mediaQuery.scss */
  .mainConfig .wrapperConfig .contVerUsuarios .tUsuarios, .mainConfig .wrapperConfig .contVerUsuarios tbody {
    font-size: 12px !important;
  }

  /* line 19, ../sass/_mediaQuery.scss */
  header #menuContainer {
    height: 3.625em;
  }
  /* line 21, ../sass/_mediaQuery.scss */
  header #menuContainer .signIn {
    margin-top: 14px;
    margin-right: 0px;
  }
}
/* line 1, ../sass/_home.scss */
.btn-proyect {
  float: right;
  margin-top: 1.3em;
}

/* line 5, ../sass/_home.scss */
.top-display {
  border-top: none;
}

/* line 9, ../sass/_home.scss */
h1.block-title-page {
  margin: 0 !important;
}

/* line 12, ../sass/_home.scss */
.ng-social {
  float: left;
  border-bottom: none !important;
}

/* line 17, ../sass/_home.scss */
.top-display {
  display: inline-block;
  width: 100%;
}

/* line 1, ../sass/_menu.scss */
.menuAside {
  background: #95226C;
  overflow-x: visible;
  overflow-y: visible;
}
/* line 5, ../sass/_menu.scss */
.menuAside li {
  width: 250px;
  background: linear-gradient(to left, #95226C 50%, #830B52 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease;
}
/* line 11, ../sass/_menu.scss */
.menuAside li:hover {
  background-position: left bottom !important;
}
/* line 14, ../sass/_menu.scss */
.menuAside li a {
  border-bottom: 1px solid #B8A0B0;
  padding: 16px;
}
/* line 20, ../sass/_menu.scss */
.menuAside #img-configuracion span {
  margin-top: 8px;
  float: right;
  margin-right: 80px;
}

/* line 2, ../sass/_votacion_proyectos.scss */
.proyectos_votacion_final #dos,
.proyectos_votacion_final #tres {
  display: none;
}
/* line 6, ../sass/_votacion_proyectos.scss */
.proyectos_votacion_final #uno {
  margin-top: 3em;
}

/* line 10, ../sass/_votacion_proyectos.scss */
.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/_votacion_proyectos.scss */
ul.rating {
  display: inline-block;
}

/* line 18, ../sass/_votacion_proyectos.scss */
.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 26px;
}

/* line 27, ../sass/_votacion_proyectos.scss */
.rating .filled {
  color: #FFBF00;
}

/* line 31, ../sass/_votacion_proyectos.scss */
#star {
  display: inline-block;
}

/* line 34, ../sass/_votacion_proyectos.scss */
#send {
  margin-top: 0.3em;
  margin-left: 1em;
}

/* line 39, ../sass/_votacion_proyectos.scss */
#send-votacion {
  margin-top: 3em;
}
