<div ng-controller ="documentosController">
  <div class="row ">
    <div class="col-md-6 col-centered">
      <div class="logo">
        <img src="img/documentos1.png" alt="">
        <h1 class="title-page">
          Documentos
        </h1>
      </div>
      <form class="search" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar titulo" ng-model="filter">
                <span type="button" id="searchGlyph" class="glyphicon glyphicon-search visible">
                </span>
                <button type="button" class="btn btn-default AddDocument" id="add" data-toggle="modal" data-target="#myModal">Agregar</button>
              </div>
      </form>
    </div>

      <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-padding">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Agregar documento</h4>
      </div>
      <div class="modal-body">
       <form class="formUser" ng-model="documentForm" name="documentForm" novalidate>
        <md-input-container>
          <label>Titulo del Documento</label>
            <input name="titulo" ng-model="documento.titulo"  required />
            <div ng-show="documentForm.$submitted || documentForm.titulo.$touched">
            <div class="msgdanger" ng-show="documentForm.titulo.$error.required"> El titulo es un campo requerido</div>
            </div>
        </md-input-container>
        <md-input-container>
          <label>Nombre del Grupo</label>
            <input name="grupo" ng-model="documento.grupo" required />
            <div ng-show="documentForm.$submitted || documentForm.grupo.$touched">
             <div class="msgdanger" ng-show="documentForm.grupo.$error.required"> El nombre del grupo es un campo requerido</div> 
            </div>
        </md-input-container>
        <md-input-container>
          <label>Descripción</label>
            <input name="descripcion" ng-model="documento.descripcion" required />
            <div ng-show="documentForm.$submitted || documentForm.descripcion.$touched">
              <div class="msgdanger" ng-show="documentForm.descripcion.$error.required"> La descripción es un campo requerido</div>
            </div>
        </md-input-container>
        <input type="file" id='file' required/>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-default AddDocument" ng-click="guardarDocumento()">Guardar documento</button>
      </div>
      </form>
    </div>
  </div>
</div>
      </div>

  <div class="col-xs-12 col-sm-12 documentos-disponibles">
          <div class="col-xs-12 col-sm-8">
          <div class="col-xs-12 col-sm-12 documentos" ng-repeat="data in documentosTotales | filter:filter ">
            <h2 class ="titulo">{{ data.titulo }}{{data.extension}}</h2>
            <div class="date-and-group pull-right">{{data.fecha}}<span>{{data.grupo}}</span>
            </div>
            <p>{{data.descripcion }}</p>
            <div class="col-md-12">
              <p class="ordenar-links">
                  <a href="" ng-click="visualizarDoc($index)" class="links-doc" type="button">Visualizar</a>
                  <a href="{{data.documento}}" download="{{data.titulo}}" class="links-doc">Descargar</a>
              </p>    
            </div>
          </div>
          </div>
          <div class="col-xs-12 col-sm-4 mejores-proyectos">
           <div class="logo">
            <img src="img/files.png" alt="">
            <h1 class="title-page">
              Mejores Proyectos
            </h1>
          </div>
          <div class="information" ng-repeat="data in Mejoresproyectos">
            <img src="img/numero1.png">
            <h1>{{data.titulo}}</h1>
            <p>{{data.descripcion}}</p>
            <p class ="link"><a href="{{data.leerMas}}" target = "_blank">Leer más</a></p>
          </div>
         <!--  <div class="information">
            <img src="img/numero2.png">
            <h1>Nombre Proyecto</h1>
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500....</p>
            <p class ="link"><a href="">Leer más</a></p>
          </div> -->
        <!--   <div class="information">
            <img src="img/numero3.png">
            <h1>Nombre Proyecto</h1>
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500....</p>
            <p class ="link"><a href="">Leer más</a></p>
          </div> -->
          </div>

  </div>
</div>
</div>