<!-- <slideshow></slideshow>
<slider-proyectos></slider-proyectos> -->
<div class="sliderHome" ng-controller="CarouselDemoCtrl" id="slides_control">
    <div class="SliderSinFlechas">
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}">
          <div class="carousel-caption">

          </div>
        </slide>
      </carousel>
    </div>
  </div>
<div class="col-xs-12 col-sm-12" ng-controller ="proyectoshomeController">
	<h1>Proyectos en Votación</h1>
		

		<div class="col-xs-12 col-sm-4 well" ng-repeat="data in Mejoresproyectos">
      	<img ng-src="{{data.img}}" class ="img-rounded">
			  <h3>{{data.titulo}}</h3>
        <p>{{data.descripcion}}</p>
        <p class ="link"><a href ="" data-toggle="modal" data-target="#myModal" id="{{data.id}}" class="show">Leer más</a></p>
        <p class ="link"><a href ="" id="{{data.id3}}" class="hidden">Votar</a></p>
      </div>
      <h1>Últimas Publicaciones </h1>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Información del Proyecto</h4>
      </div>
      <div class="modal-body" ng-controller ="proyectoshomeController">
        <div class="col-xs-12 col-sm-12  hidden " ng-repeat="data in Mejoresproyectos" id="{{data.id2}}">
          <img ng-src="{{data.img}}" class ="img-rounded">
          <h3>{{data.titulo}}</h3>
          <p>{{data.descripcion}}</p>
        </div>
        <!-- <button type="button" class="btn btn-default btn-proyect" data-dismiss="modal">Cerrar</button> -->
      </div>
      <div class="modal-footer top-display">
        <ul ng-social-buttons class="social-links"
          data-url="current_url"
          data-title="current_title"
          data-description="current_description"
          data-image="current_img"
          showcounts="true">
          <li class="ng-social-facebook">Facebook</li>
          <li class="ng-social-google-plus">Google+</li>
          <li class="ng-social-twitter">Twitter</li>
        </ul>
        <button type="button" class="btn btn-default btn-proyect" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- bloque de facebook -->
<script type="text/javascript">
  function goFamax() {
    $('#famax').empty();
    var facebookPageUrlInput = $('#facebookPageUrl').val();
    var famaxColumnsInput = $('#famaxColumns').val();
    $('#famax').famax({
      //mandatory----------------
      facebookPageUrl:facebookPageUrlInput,
      fbAccessToken:"CAAJTO0BbbJUBAE3jj7KpVcLZAZBsaTIUvVH1lv5p7Yc4WmxMdsRddXYrNolfzC3QVLHjyLjsKEskfuEmwtHqJSTYEyPY9cZAhAif3DIQjjSIVTZB5uojFPyjtpeCkV0ykIrY4mlmAEFLdnx2TIFLgbPrFY9amb54nUIEGREAZC885mQuTeUaslOWfQRm187zdYUOD6NFsIHVqXRFpJkVi",

      //optional-----------------
      famaxWidgetWidth:"100%", //in px or % 
      //famaxWidgetHeight:"400px",
      famaxColumns:famaxColumnsInput,
      famaxResultCount:6
    });
  }
</script>
<div id="select-page" class="hidden">
    Enter your Facebook Page Url: <input type="text" id="facebookPageUrl" value="https://www.facebook.com/cenfotec"/>&nbsp;&nbsp; (Ex: http://www.facebook.com/codehandling)<br>
    <div style="margin:8px;"></div>
    Enter number of columns needed: <input type="text" id="famaxColumns" value="3"/>&nbsp;&nbsp; (Ex: 3)<br>
    <div style="margin:10px;"></div>
    <input type="button" value="Go Famax!" onclick="goFamax();">
    </div>
    
    <div id="famax">
    </div>    
    <script>
      goFamax();
    </script>
<!-- bloque de facebook -->