	 <!--Modal Confirm-->
   <div class="modal-content in ventanasGru " id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         <h4 class="modal-title">Confirmar borrado</h4>
      </div>
      <div class="modal-body">
         <p>Está seguro que desea borrar el grupo</p>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btnConfirmModal" ng-click="removeGrupo1()"
            data-dismiss="modal">Proceder</button>
         <button type="button" class="btn btnAdd" data-dismiss="modal">Cancelar</button>
      </div>
   </div>
   <!--End Modal Confirm-->
<div class="contenedorRubricasUi col-xs-12">
	<h1 id="equip">Equipos</h1>
	<div>
		<div class="col-md-6">
			<md-input-container>
			  <label>Buscar equipo por nombre</label>
			  <input id="buscar" name="buscar" ng-model="buscar">
			  <div ng-show="userForm.$submitted || userForm.name.$touched">
			  </div>
			</md-input-container>
		</div>
		<div class="col-md-12">
			<button  data-toggle="modal" data-target="#modalNuevoGrupo" class="btn simpleColor">Nuevo equipo</button>
		</div>
	</div>
		<div class="contenedorDeCajas col-xs-12">
			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th>
			        <a href="" ng-click="ordenar('nombreGrupo')" class="misTitulos">Nombre</a>
			        <span class="caret" style="cursor: pointer" ng-click="ordenar('-nombreGrupo')" ></span>
			      </th>
			      <th class="misTitulos">Editar</th>
			      <th class="misTitulos">Eliminar</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr ng-repeat="grupo in grupos | filter:buscar | orderBy:ordenSeleccionado">
			      <td><a href="" ng-click="mostrarGrupo(grupo)" data-toggle="modal" data-target="#mostrarGrupos" class="misTitulos">{{grupo.nombreGrupo}}</a></td>
			      <td>
			        <img ng-src="img/edit.png" ng-click="mostrarGrupo(grupo)" data-toggle="modal" data-target="#modificarGrupos" style="cursor: pointer">
				  </td>
				  <td>
				    <img ng-src="img/del.png" ng-click="removeGrupo(grupo)" style="cursor: pointer" data-toggle="modal" data-target="#modalConfirm">
				  </td>
				</tr>
			   </tbody>
			</table>
		</div>
	</div>
		<!--MODAL-->
		<div class="modal fade" id="modalNuevoGrupo" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		    <div>
		    </div>
		   
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="botonCancelar()">&times;</button>
		        <h1>Crear nuevo equipo</h1>
		      </div>
		      <div class="modal-body">
		        <form class="form-horizontal">
				  <md-input-container id="crearGrupo">
                  <div id="name2"></div>
                            <label class=".label" for="nombre">Nombre del equipo:</label> 
                            <input type="text" name="Nombre del grupo" id="name" ng-model="nuevoName" class=""> 
                  </md-input-container>
		          <div class="form-group">
		            <div id="estudiantes"></div>
		            <label class=".label" for="estudiantes">Estudiantes:</label>
		            <select name="estudiantes" id="estudiantes" ng-model="nuevoEstudiante" class="form-control" ng-options="estudiante as estudiante.miName for estudiante in estudiantes" ng-change="addEstudiante()">
		            	
		            </select>
		          </div>
		          <div class="form-group">
		            <div id="roles"></div>
		            <label class=".label" for="roles">Rol:</label>
		            <select name="roles" id="roles" ng-model="nuevoRole" class="form-control" ng-change="addEstudiante()">
		              <option value="Desarrollo">Desarrollo</option>
		              <option value="Coordinador">Coordinador</option>
		              <option value="Soporte">Soporte</option>
		              <option value="Calidad">Calidad</option>
		            </select>
		          </div>
		        </form>
		        <table class="table table-hover">
		          <thead>
		            <tr>
		              <th>
		                <a href="" ng-click="ordenar('nombre')" class="misTitulos">Nombre</a>
		                <span id="ordenar1" class="caret" style="cursor: pointer" ng-click="ordenar('-nombre')" ></span>
		              </th>
		              <th class="misTitulos">Rol</th>
		              <th class="misTitulos">Eliminar</th>
		            </tr>
		          </thead>
		          <tbody>
		            <tr ng-repeat="mucho in muchos | filter:buscar | orderBy:ordenSeleccionado">
		              <td>
		                {{mucho.nombre}}
		              </td>
		              <td>
		              	{{mucho.role}}
		              </td>
		              <td><img ng-src="img/del.png" ng-click="removeGrupo2(grupo)" style="cursor: pointer"></td>
		            </tr>
		          </tbody>
		        </table>
		      </div>
		      <div class="modal-footer">
		         <button class="btn simpleColor" ng-click="addGrupo()">Crear grupo</button>	
                 <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="botonCancelar()">Cerrar</button>
              </div>
		    </div>
		  </div>
		</div>
		<!--FIN DE MODAL-->
		<!--MODAL-->
		<div class="modal fade" id="mostrarGrupos" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h1>Integrantes</h1>
		      </div>
		      <div class="modal-body">
		        <div >
		          <ul id="verGrupos">
		            <li>{{todo.nombre}}</li>
		          </ul>
		        </div>
		        <table class="table table-hover">
				          <thead>
				            <tr>
				              <th>
				                <h4 class="misTitulos">Nombre</h4>
				              </th>
				              <th>
				              	<h4 class="misTitulos">Rol</h4>
				              </th>
				            </tr>
				          </thead>
				          <tbody>
					            <tr ng-repeat="todo in todos">
					              <td>
					              	{{todo.nombre}}
					              </td>
					              <td>
					              	{{todo.role}}
					              </td>
					            </tr>
				          </tbody>
				     </table>
		      </div>
		        <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
		    </div>
		  </div>
		</div>
		<!--FIN DE MODAL-->
		<!--MODAL-->
		<div class="modal fade" id="modificarGrupos" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content" ng-hide="formVisibility">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="botonCancelar()">&times;</button>
		        <h1 ng-repeat="todoName in todosName">{{todoName}}</h1>
		      </div>
		      <div class="modal-body">
		        <div class="col-xs-12 col-sm-12">
			        <div class="col-xs-12 col-sm-6">
				        <div id="estudiantes2"></div>
				        <label for="estudiantes2">Estudiantes:</label>
				        <select name="estudiantes" id="estudiantes2" ng-model="nuevoEstudiante2"  class="form-control" ng-options="estudiante2 as estudiante2.miName for estudiante2 in estudiantes">
				        <option value="est">Seleccione un estudiante</option>
				        </select>
			        </div>
			        <div class="container col-xs-12">
				    	<button id="agregarNuevos" class="btn simpleColor" ng-click="addEstudiante2()">Agregar estudiante</button>
			        </div>
		        </div>
		       <div class="form-group clearfix">
		      	<div class="pull-left col-xs-12 col-sm-6">
				    <h2>Estudiantes Actuales</h2>
			        <div id="modiF">
				      	<table class="table table-hover">
				          <thead>
				            <tr>
				              <th>
				                <p class="misTitulos">Nombre</p>
				              </th>
				              <th>
				              	<p class="misTitulos">Rol</p>
				              </th>
				              <th>
				              	<p class="misTitulos">Eliminar</p>
				              </th>
				            </tr>
				          </thead>
				          <tbody>
				          </div>
				            <tr ng-repeat="todo in todos">
				              <td>
				                <p>
				      			{{todo.nombre}}
				      			</p>
				              </td>
				               <div class="miMargen">
				               </div>
				               <td>
					              <p>{{todo.role}}</p>
				              </td>
				              <td><img ng-src="img/del.png" ng-click="removeGrupo3(todo)" style="cursor: pointer"></td>
				            </tr>
				          </tbody>
				        </table>
			        </div>
		      	</div>
		      	<div class="pull-left col-xs-12 col-sm-6">
				    <h2>Estudiantes Pendientes de Agregar</h2>
			        <div id="modiF">
				        <table class="table table-hover">
				          <thead>
				            <tr>
				              <th>
				                <p class="misTitulos">Nombre</p>
				              </th>
				              <th>
				              	<p class="misTitulos">Rol</p>
				              </th>
				            </tr>
				          </thead>
				          <tbody>
					            <tr ng-repeat="temp in temps">
					              <td>
					                <p>
					      			{{temp.nombre}}
					      			</p>
					              </td>
					               <div class="miMargen">
					               </div>
					               <td>
					               	<select required class="form-control" ng-model="temp.role">
						              <option value="Desarrollo">Desarrollo</option>
						              <option value="Coordinador">Coordinador</option>
						              <option value="Soporte">Soporte</option>
						              <option value="Calidad">Calidad</option>
					             	 </select>
					              </td>
					              <td><img ng-src="img/del.png" ng-click="removeGrupo4(temp)" style="cursor: pointer"></td>
					            </tr>
				          </tbody>
				        </table>
			        </div>
		      	</div>
		      </div>
		       <div class="modal-footer">
		         <button data-dismiss="modal" class="btn simpleColor" ng-click="guardar()">Guardar</button>
                 <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="botonCancelar()">Cancelar</button>
              </div>
		    </div>
		  </div>
		</div>
		<!--FIN DE MODAL-->
	</div>
	
	<!--MODAL-->
	<div id="modalExito" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  		<div class="modal-dialog modal-sm">
    		<div id="modalContent" class="modal-content alert alert-success">
      			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
     		 	<span>Grupo creado correctamente.</span> 
    		</div>
  		</div>
	</div>
	<!--MODALExit-->
	<!--MODAL-->
	<div id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display:none;">
  		<div class="modal-dialog modal-sm">
    		<div id="modalContent" class="modal-content alert alert-success">
      			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
     		 	<span>Editado correctamente.</span> 
    		</div>
  		</div>
	</div>
	<!--MODALExit-->
	<!--MODAL-->
	<div id="modalBorrar" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display:none;">
  		<div class="modal-dialog modal-sm">
    		<div id="modalContent" class="modal-content alert alert-success">
      			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
     		 	<span>Equipo borrado.</span> 
    		</div>
  		</div>
	</div>
	<!--MODALExit-->