<div class="contenedorRubricasUi hidden-xs col-xs-12 tablasFull">
		<h1>Mis grupos</h1>
		<button type="button" class="btn simpleColor pull-right" data-toggle="modal" data-target="#addInfo">Agregar información</button>
		<div class="">
			<table class="table">
			  <thead>
			    <tr>
			      <th>
			        <a href="" ng-click="ordenar('nombreGrupo')" class="misTitulos">Nombre</a>
			        <span class="caret" style="cursor: pointer" ng-click="ordenar('-nombreGrupo')" ></span>
			      </th>
			      <th>
			      	<a href="" ng-click="ordenar('curso')" class="misTitulos">Curso</a>
			        <span class="caret" style="cursor: pointer" ng-click="ordenar('-curso')" ></span>
			      </th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr ng-repeat="proyecto in proyectos2 | filter:buscar | orderBy:ordenSeleccionado">
			      <td><a href="" ng-click="mostrarIntegrantes2(proyecto)" data-toggle="modal" data-target="#mostrarMiGrupo" class="misTitulos">{{proyecto.nombreGrupo}}</a></td>
			      <td>
					{{proyecto.curso}}	
				 </td>
				</tr>
			   </tbody>
				</table>
		</div>
		</div>
		<!--MODAL-->
			<div class="modal fade tablasFull" id="mostrarMiGrupo" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h1>Integrantes</h1>
			      </div>
			      <div class="modal-body">
			          <table class="table">
				          <thead>
				            <tr>
				              <th>
				                <h4 class="misTitulos">Nombre</h4>
				              </th>
				              <th>
				              	<h4 class="misTitulos">Role</h4>
				              </th>
				            </tr>
				          </thead>
				          <tbody>
					            <tr ng-repeat="todo in todos">
					              <td>
					              	{{todo.nombre}}
					              </td>
					              <td>
					              	{{todo.role}}
					              </td>
					            </tr>
				          </tbody>
				     </table>
			        </div>
			        <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
			      </div>
			    </div>
			  </div>
			</div>
			<!--FIN DE MODAL-->
			<div class="modal fade" id="addInfo" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cerrarArchivos()" tabindex="0">×</button>
		        <h1>Agregar información del grupo</h1>
		      </div>
		      <div class="modal-body">
		        <form class="form-horizontal ng-pristine ng-valid">
				  <md-input-container id="crearGrupo" class="md-default-theme">
                    <label class=".label" for="nombre">Descripción:</label> 
                    <textarea columns="3" name="archivo" id="nameArchivo" ng-model="nuevoNameArhivo" class="ng-pristine ng-untouched ng-valid md-input" aria-multiline="true" tabindex="0" aria-invalid="false" style="height: auto;"></textarea>
                  </md-input-container>
                  <!--AGREGAR FOTO-->
                <md-input-container class="upload-div ng-scope md-default-theme" ng-controller="MyCtrl">    
                <div class="upload-buttons">
                <div id="editArea" class="ng-scope">
                  <div class="up-buttons">
                    <input type="file" accept="*.pdf,*.jpg,*.png" tabindex="-1" __afu_gen__="true" style="width: 0px; height: 0px; position: absolute; padding: 0px; margin: 0px; overflow: hidden; opacity: 0;"><button class="btn btnAddUser ng-pristine ng-untouched ng-valid" ng-file-select="" ng-model="files" ng-multiple="false" ng-accept="'*.pdf,*.jpg,*.png'" ng-model-rejected="rejFiles" tabindex="0" accept="*.pdf,*.jpg,*.png" __refelem__="true" aria-invalid="false" style="overflow: hidden;">Seleccionar foto</button>
                  </div>  
                </div>
                </div>
                <ul ng-show="rejFiles.length > 0" class="response ng-hide" aria-hidden="true">
                  <!-- ngRepeat: f in rejFiles -->
                </ul>
                <ul id="listImg" ng-show="files.length > 0" class="response ng-binding ng-hide" aria-hidden="true">
                  
                  <!-- ngRepeat: f in files -->
                </ul>
                <div class="err ng-binding ng-hide" ng-show="errorMsg != null" aria-hidden="true"></div>
              </md-input-container>
		        </form>
		      </div>
		      <div class="modal-footer">
		         <button class="btn simpleColor">Guardar</button>
                 <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrarArchivos()" tabindex="0">Cerrar</button>
              </div>
		    </div>
		  </div>
		</div>