<div class="contenedorRubricasUi hidden-xs col-xs-12 tablasFull">
	<div class="col-sm-12">
     <md-input-container class="nombreEstudiante">
         <label>Estudiante: <span>Guillermo Sánchez Garay</span></label>
     </md-input-container>
     <md-select class="optCuatri" required ng-model="cuatriCurso" name="cuatrimestre" placeholder="Seleccione curso">
       <md-option value="Diseño I">Diseño I</md-option>
       <md-option value="Progra Web Dinámica" >Progra Web Dinámica</md-option>
       <md-option value="Proyecto Web 1" >Proyecto Web 1</md-option>
     </md-select>
  </div>
	<div class="col-sm-8 col-sm-offset-2">
		<h1>Notas</h1>
		<table class="table" id="tableNotas">
		  <tbody>
		    <tr ng-repeat="cosa in notasG">
		      <th>
		      {{cosa.nombre}}
		      </th>
		      <td>
		      {{cosa.valor}}%
		      </td>
			</tr>
		   </tbody>
			</table>
	</div>
</div>