<div class ="contenedorRubricasUi" ng-controller='directorController as este'>
    <div class="pull-left izquierdaCaja">
        <h3>Rubricas</h3>
        <div class="contenedorDeCajas">
        <table class="table table-hover">
            <tbody>
                 <tr ng-repeat="valores in este.datos.RubricasCreadas">
                     <td>{{valores.rubricaLista[0].NombreDeRubrica}}</td>
                     <td><img src="img/edit.png"  ng-click="edit(valores)" data-toggle="modal" data-target="#modelDetallesRubrica" style="cursor: pointer"></td>
                     <td><img src="img/del.png"  ng-click="delR(valores)" style="cursor: pointer"></td>
                 </tr>
            </tbody>
        </table>
         </div>
    </div>

    <div class="pull-right derechaCaja">
        <div class="rayaCentral"></div>
        <h3>Nueva Rubrica</h3>
        <form id="formAddR" name="RubForm" ng-submit="RubForm.$valid && add()" class="estiloCaja contenedorDeCajas" novalidate>
            <ng-form name="rubricaFormDirector">

                  <md-input-container>
                    <label>Nombre de la rubrica</label>
                    <input md-maxlength="20" required name="nombreRubrica" ng-model="newNombreRubrica">
                  </md-input-container>

                  
                    <label>Nombre del grupo</label>
                    <select ng-model="newNombreGrupo" required name="nombreGrupo" class="form-control">
                        <option ng-repeat="grupos in este.datos.GruposDeCurso">{{grupos.NombreDelGrupo}}</option>
                    </select>

                  <md-input-container ng-repeat='par in este.datos.ParamatrosRubrica'>
                    <label class="rubroP">{{par.parametro}}</label>
                    <input md-maxlength="2" class="valNot" required name="numeroRubrica" ng-model="inte">
                  </md-input-container>


            </ng-form>
            <div class="alert alert-danger errormsj">La suma de los porcentajes no es igual a 100.</div>
            <input type="submit" class="btn agregarBtn simpleColor" value="Agregar" id="agregarubrica">
        </form>
        <div class="estiloCaja">
                  <md-input-container>
                    <label>Nuevo rubro</label>
                    <input class="nuevoRubro" ng-model="nuevoRubro">
                  </md-input-container>
                  <button type="button" class="simpleColor btn" ng-click="nuevoRubroAdd()">
                    Añadir rubro</button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modelDetallesRubrica" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Detalles</h4>
                </div>
                <div class="modal-body cajaDelmodal" id="rubricasModal">

                </div>
                <div class="alert alert-danger errormsj2">La suma de los porcentajes no es igual a 100.</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="borrarRubTemp()">Cerrar</button>
                    <button type="button" class="simpleColor btn" data-dismiss="modal" ng-click="editCreat()">
                    Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>