<div class ="contenedorRubricasUi" ng-controller='directorController as este'>
    <div class="pull-left izquierdaCaja">
        <h3>Rubricas</h3>
        <div class="contenedorDeCajas">
        <table class="table table-hover">
            <tbody>
                 <tr ng-repeat="valores in este.datos.RubricasCreadas">
                     <td>{{valores.NombreDeRubrica}}</td>
                     <td><img src="img/edit.png"  ng-click="edit(valores)" data-toggle="modal" data-target="#modelDetallesRubrica" style="cursor: pointer"></td>
                     <td><img src="img/del.png"  ng-click="delR(valores)" style="cursor: pointer"></td>
                 </tr>
            </tbody>
        </table>
         </div>
    </div>

    <div class="pull-right derechaCaja">
        <div class="rayaCentral"></div>
        <h3>Nueva Rubrica</h3>
        <form id="formAddR" name="RubForm" ng-submit="RubForm.$valid && add()" class="estiloCaja" novalidate>
            <ng-form name="rubricaFormDirector">

                  <md-input-container>
                    <label>Nombre de la rubrica</label>
                    <input md-maxlength="10" required name="nombreRubrica" ng-model="newNombreRubrica">
                  </md-input-container>

                  <md-input-container>
                    <label>{{este.datos.ParamatrosRubrica[0].parametro1}}</label>
                    <input md-maxlength="2" required name="nombreRubrica" ng-model="int1">
                  </md-input-container>

                  <md-input-container>
                    <label>{{este.datos.ParamatrosRubrica[1].parametro2}}</label>
                    <input md-maxlength="2" required name="nombreRubrica" ng-model="int2">
                  </md-input-container>

                  <md-input-container>
                    <label>{{este.datos.ParamatrosRubrica[2].parametro3}}</label>
                    <input md-maxlength="2" required name="nombreRubrica" ng-model="int3">
                  </md-input-container>

                  <md-input-container>
                    <label>{{este.datos.ParamatrosRubrica[3].parametro4}}</label>
                    <input md-maxlength="2" required name="nombreRubrica" ng-model="int4">
                  </md-input-container>

                  <md-input-container>
                    <label>{{este.datos.ParamatrosRubrica[4].parametro5}}</label>
                    <input md-maxlength="2" required name="nombreRubrica" ng-model="int5">
                  </md-input-container>

            </ng-form>
            <div class="alert alert-danger errormsj">La suma de los porcentajes no es igual a 100.</div>
            <input type="submit" class="btn agregarBtn simpleColor" value="Agregar" id="agregarubrica">
        </form>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="modelDetallesRubrica" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Detalles</h4>
                </div>
                <div class="rayaCentralMorada"></div>
                <div class="modal-body cajaDelmodal">

                    <div class="group">
                        <md-input-container>
                            <label>Nombre De Rubrica</label>
                            <input md-maxlength="10" required name="nombreEditRubrica" ng-model="entrada1">
                        </md-input-container>
                    </div>

                    <div class="group">
                        <md-input-container>
                            <label>Asistencia</label>
                            <input md-maxlength="2" required name="nombreEditRubrica" ng-model="entrada2">
                        </md-input-container>
                    </div>

                    <div class="group">
                        <md-input-container>
                            <label>Concepto</label>
                            <input md-maxlength="2" required name="nombreEditRubrica" ng-model="entrada3">
                        </md-input-container>
                    </div>

                    <div class="group">
                        <md-input-container>
                            <label>Examen 1</label>
                            <input md-maxlength="2" required name="nombreEditRubrica" ng-model="entrada4">
                        </md-input-container>
                    </div>

                    <div class="group">
                        <md-input-container>
                            <label>Examen 2</label>
                            <input md-maxlength="2" required name="nombreEditRubrica" ng-model="entrada5">
                        </md-input-container>
                    </div>

                    <div class="group">
                        <md-input-container>
                            <label>Tareas</label>
                            <input md-maxlength="2" required name="nombreEditRubrica" ng-model="entrada6">
                        </md-input-container>
                    </div>
                </div>
                <div class="alert alert-danger errormsj2">La suma de los porcentajes no es igual a 100.</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="simpleColor btn" ng-click="editCreat()">
                    Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>