<div class="perfil-layout clearfix">
	<div class="perfilContainer">
		<div class="perfilInfo">
			<h1>Sobre mi</h1>
			<p>{{usuario.descripcion}}</p>
		</div>
		<div class="perfilDetalles" ng-controller="MyCtrl">
			<div class="perfilImg col-sm-5">
				<img class="userImg img-circle" ng-src="{{usuario.foto}}" alt="{{usuario.nombre}}"/>
					<p ng-file-select class="btnCambiarImg">Cambiar imagen</p>	
			</div>
			
			<!--AGREGAR FOTO-->
                <md-input-container class="upload-div">    
                <div class="upload-buttons">
                <div id="editArea">
                  <div class="up-buttons">
                    <button class="btn btnAddUser" ng-file-select ng-model="files" class="upload-button" ng-multiple="false" ng-accept="'*.pdf,*.jpg,*.png'" ng-model-rejected="rejFiles" tabindex="0">Seleccionar foto</button>
                  </div>  
                </div>
                </div>
                <ul ng-show="rejFiles.length > 0" class="response">
                  <li class="sel-file" ng-repeat="f in rejFiles">
                    El archivo que esta tratando de subir no es permitido.
                  </li>
                </ul>
                <ul ng-show="files.length > 0" class="response">
                  <li class="sel-file" ng-repeat="f in files">
                    <img ng-show="f.dataUrl" ng-src="{{f.dataUrl}}" ng-model="photo" class="thumb">      
                  </li>
                </ul>
              </md-input-container>
  <!--FIN AGREGAR FOTO-->



			<div class="perfilDatos col-sm-7">
				<table class="table table-hover">
					<tbody>
					     <tr class="tNombre">
					     	<td class="tInfo">Nombre:</td>
					     	<td></td>
					     	<td>{{usuario.nombre  +' ' +usuario.primerApellido +' ' +usuario.segundoApellido}}</td>
					     </tr>
					     <tr>
					     	<td class="tInfo">Fecha de nacimiento:</td>
					     	<td></td>
					     	<td>{{usuario.fechaNacimiento}}</td>
					     </tr>
					     <tr>
					     	<td class="tInfo">Dirección:</td>
					     	<td></td>
					     	<td>{{usuario.direccionExacta}}</td>
					     </tr>
					      <tr>
					     	<td class="tInfo">Correo:</td>
					     	<td></td>
					     	<td>{{usuario.correoElectronico}}</td>
					     </tr>
					     <tr>
					     	<td class="tInfo">Teléfono:</td>
					     	<td></td>
					     	<td>{{usuario.telefono}}</td>
					     </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="editCont col-xs-8 col-sm-4">
			<label class="lblEditUser">
              <a class="editUser" href="#" data-toggle="modal" data-target="#modificarPerfil">
              	Editar
              	<img src="img/edit.png" alt="Icono de Editar" ng-click="editarUsuario()" data-toggle="modal" data-target="#modalEditarUsuario">
              </a>
            </label>
            <label class="lblPortfolio">
              <a class="editUser" ui-sref="portafolio">Portafolio
              	<img src="img/btnPortfolio1.png" alt="Icono de Editar" ng-click="editarUsuario()" data-toggle="modal" data-target="#modalEditarUsuario">
              </a>
            </label>
		</div>
</div>
<!-- Modal -->
<div class="modal fade" id="modificarPerfil" tabindex="-1" role="dialog" aria-labelledby="modificarPerfil" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header modal-header-padding">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="modalPerfil">Modificar perfil</h4>
			</div>
			<form name="editPerfil" ng-mode="editPerfil"  ng-submit="actualizarDatos() && editPerfil.$valid" novalidate>
				<div class="modal-body">
					<md-input-container>
					<label>Descripción</label>
					<input required name="descripcion" ng-model="usuario.descripcion">
					<div ng-show="editPerfil.$submitted || editPerfil.descripcion.$touched">
						<div class="msgError" ng-show="editPerfil.descripcion.$error.required">
							La descripción esta vacia.
						</div>
					</div>
					</md-input-container>
					<md-input-container>
					<label>Tel&eacute;fono</label>
					<input required name="telefono" ng-model="usuario.telefono">
					<div ng-show="editPerfil.$submitted || editPerfil.telefono.$touched">
						<div class="msgError" ng-show="editPerfil.telefono.$error.required">
							El telefono  esta vacio.
						</div>
					</div>
					</md-input-container>
					<md-input-container>
					<label>Celular</label>
					<input required name="celular" ng-model="usuario.celular">
					<div ng-show="editPerfil.$submitted || editPerfil.celular.$touched">
						<div class="msgError" ng-show="editPerfil.celular.$error.required">
							El celular esta vacio.
						</div>
					</div>
					</md-input-container>
					<md-input-container>
					<label>Dirección exacta</label>
					<input required name="direccionExacta" ng-model="usuario.direccionExacta">
					<div ng-show="editPerfil.$submitted || editPerfil.direccionExacta.$touched">
						<div class="msgError" ng-show="editPerfil.direccionExacta.$error.required">
							La dirección exacta esta vacia.
						</div>
					</div>
					</md-input-container>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-default simpleColor">Actualizar perfil</button>
				</div>
				{{editPerfil.$valid}}
			</form>
		</div>
	</div>
</div>