<div class="perfil-layout clearfix">
	<h1>Perfil</h1>
	<div class="cabecera-perfil">
		<div>
			<img width="64" height="64" ng-src="{{usuario.foto}}" alt="{{usuario.nombre}}">
		</div>
		<div>
			<h1>Nombre: {{usuario.nombre  +' ' +usuario.primerApellido +' ' +usuario.segundoApellido}}</h1>
			<h2>Carrera: {{usuario.carrera}}</h2>
		</div>
	</div>
	<div class="cuerpo-perfil">
		<p>Acerca de: {{usuario.descripcion}}</p>
		<p>Correo electrónico: {{usuario.correoElectronico}}</p>
		<p>Teléfono: {{usuario.telefono}}</p>
		<p>Celular: {{usuario.celular}}</p>
		<p>Residencia: {{usuario.direccionExacta}}</p>
	</div>
	<div class="controls-right clearfix">
		<button type="button" class="btn btn-default"  data-toggle="modal" data-target="#modificarPerfil">Modificar Perfil</button>
		<a ui-sref="portafolio" class="btn btn-default">Ver Portafolio</a>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="modificarPerfil" tabindex="-1" role="dialog" aria-labelledby="modificarPerfil" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header modal-header-padding">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="modalPerfil">Modificar perfil</h4>
			</div>
			<form name="editPerfil">
			<div class="modal-body">
				<md-input-container>
					<label>Cambiar foto </label>
					<input required name="foto" ng-model="usuario.foto">
					<div ng-show="userForm.$submitted || userForm.direccion.$touched">
                    <div class="msgError" ng-show="userForm.direccion.$error.required">Dirección es un campo requerido.</div>
                  </div>
				</md-input-container>
				<md-input-container>
					<label>Descripción</label>
					<input required name="descripcion" ng-model="usuario.descripcion">
				</md-input-container>
				<md-input-container>
					<label>Tel&eacute;fono</label>
					<input required name="telefono" ng-model="usuario.telefono">
				</md-input-container>
				<md-input-container>
					<label>Celular</label>
					<input required name="celular" ng-model="usuario.celular">
				</md-input-container>
				<md-input-container>
					<label>Dirección exacta</label>
					<input required name="direccionExacta" ng-model="usuario.direccionExacta">
				</md-input-container>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-default" ng-click="actualizarDatos()">Actualizar perfil</button>
			</div>
			</form>
		</div>
	</div>
</div>