<div id="portafolio" class="perfil-layout clearfix">
	<h1>Portafolio</h1>
	<div class="cabecera-container">
		<div class="center-block cabcera-portafolio">
			<img ng-src="{{usuario.foto}}" alt="{{usuario.nombre}}">
		</div>
		<div class="cabecera-slogan">
			<h2>{{usuario.nombre  +' ' +usuario.primerApellido +' ' +usuario.segundoApellido}}</h2>
			<h3>{{usuario.carrera}}</h3>
		</div>
	</div>
	<div class="">
		<h3>Introducción</h3>
		<p>{{usuario.descripcion}}</p>
		<h3>Datos personales</h3>
		<p>Fecha de nacimiento: <time datetime="{{usuario.fechaNacimiento.small}}">{{usuario.fechaNacimiento.full}}</time></p>
		<p>Correo electr&oacute;nico: {{usuario.correoElectronico}}</p>
		<p>Tel&eacute;fono: {{usuario.telefono}}</p>
		<p>Celular: {{usuario.celular}}</p>
		<p>Residencia: {{usuario.direccionExacta}}</p>
		<div>			<!-- Proyectos-->
			<h3>Proyectos:</h3>
		<ul id="proyecto-portafolio">
			<li ng-repeat="proj in proyectos">
				<h3>{{proj.nombre}}</h3>
				<a href="{{proj.leerMas}}">
				<img  width="200" ng-src="{{proj.imgPreview}}">	
				</a>
				<p>{{proj.descripcion}}</p>
				<a href="{{projec.leerMas}}"></a>
			</li>
		</ul>
		</div>
	</div>
	<div class="controls-right clearfix">
		<button type="button" class="btn btn-default simpleColor btn-right btnPrint"  data-toggle="modal" data-target="#modificarPortafolio">Cambiar el portafolio</button>
		<a ng-click="imprimirPortafolio()" class="btnPrint btn btn-right btn-default simpleColor">Imprimir</a>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="modificarPortafolio" tabindex="-1" role="dialog" aria-labelledby="modificarPortafolio" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header modal-header-padding">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="modalPerfil">Modificar Portafolio</h4>
			</div>
			<div class="modal-body">
				<form name="portafolioEditForm" novalidate>
					<md-input-container>
					<label>Correo electrónico</label>
					<input id="email" type="email"required name="correoElectronico" ng-model="usuario.correoElectronico">
					<div ng-show="portafolioEditForm.$submitted || portafolioEditForm.correoElectronico.$touched">
                      <div class="msgError" ng-show="portafolioEditForm.correoElectronico.$error.required">Haz dejado el correo electrónico, por favor llenarlo.</div>
                    </div>
					</md-input-container>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-right btn-default" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn  btn-right simpleColor" ng-click="modificarPortafolio()">Actualizar Portafolio</button>
					{{portafoliOEditForm.$valid}}
				</div>
			</form>
		</div>
	</div>
</div>