<md-content class="jumbotron noM" id="todoPortafolio">
<h1 style="margin-bottom: 8%;">Portafolio</h1>
<div id="contenidoBonito">
<div id="modalExito" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div id="modalContent" class="modal-content alert alert-success">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <span>Edición terminada!</span>
    </div>
  </div>
</div>
<div id="modalTrabajo" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;
  position: fixed;
  z-index: 1000;
  min-width: 325px;
  margin-left: auto;
  margin-right: auto;">
  <div class="modal-dialog modal-sm">
    <div id="modalContent" class="modal-content alert alert-success">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <span>Proyecto agregado correctamente!</span>
    </div>
  </div>
</div>
<div id="modalTrabajoB" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;
  position: fixed;
  z-index: 1000;
  margin-left: 20%; min-width:250px">
  <div class="modal-dialog modal-sm">
    <div id="modalContent" class="modal-content alert alert-success">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <span>Proyecto borrado!</span>
    </div>
  </div>
</div>
<div id="modalTrabajoB2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;
  position: fixed;
  z-index: 1000;
  margin-left: 20%;">
  <div class="modal-dialog modal-sm">
    <div id="modalContent" class="modal-content alert alert-success">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <span>Datos cambiados!</span>
    </div>
  </div>
</div>

	
	<h1 class="pBlanco">Información personal</h1>
		<div id="infoPerfil" class="clearfix">
			<div class="pull-right col-md-2 col-xs-6" id="botonesEditar">
				<img ng-src="img/edit2.png" ng-click="imprimirPortafolio()" ng-hide="no" style="cursor:pointer;">
				<img id="edicionTotal" ng-src="img/edit2.png" ng-click="editarInfo(miNombre,miCorreo,miTel,miDesc)" ng-show="no" data-toggle="modal" data-target="#editarInfo" style="cursor:pointer;">
				<img src="img/check.png" ng-click="imprimirPortafolio2()" ng-show="no" style="cursor:pointer;">
				<img ng-src="img/print.png" ng-click="imprimirPortafolio3()" ng-hide="no" style="cursor:pointer;">
			</div>
			<div class="col-md-10 col-xs-12">
				<div class="pull-left col-md-4" style="cursor:pointer;" id="wrapper">
					<img id="miImg"class="img-responsive img-circle" ng-src="{{miFoto}}" alt="">
					<i class="text" ><p hide-sm>Cambiar imagen</p></i>	
				</div>
				<div class="pull-left col-md-6" id="divUl">
					<ul>
						<li style="padding:0; font-size: 118%;color: #757475;">{{miNombre}}</li>
						<li style="font-size: 118%;color: #757475; padding-top: 3% !important;">{{miCorreo}}</li>
						<li style="font-size: 118%;color: #757475; padding-top: 3% !important;">{{miTel}}</li>
					</ul>
				</div>
			</div>
			
		</div>
		<div>
			<p style="color: #757475;">{{miDesc}}</p>
		</div>
		<div id="trabajos">
			<h1 class="pBlanco">Mis proyectos</h1>
	<div>
		<img ng-src="img/work.png"  style="cursor:pointer;" ng-show="no" ng-click="ver()" data-toggle="modal" data-target="#mostrarPortafolio">
	</div>
	<div class="col-md-4 col-xs-6" ng-repeat="proyecto in proyectos" style="margin-top: 2%;">
				<div id="miInfo" style="width: 79%;   box-shadow: 2px 2px 14px 2px;">
						<div>
							<img src="img/cerrar.png" alt="" class="pull-right borrarPortafolio" ng-click="borrarTrabajo(proyecto)" ng-show="no">
						</div>
					<div>
						<a href="{{proyecto.pagina}}">
							<img class="img-responsive" id="stylish" ng-src="{{proyecto.url}}">
						</a>
					</div>
					<div layout="column" id="infoT">
						<div hide-sm>
							<h2><a href="{{proyecto.pagina}}">{{proyecto.nombre}}</a></h2>
						</div>
						<div hide-sm>
							<h4>Por: {{proyecto.por}}</h4>
						</div>
						<div hide-sm>
							<h4>{{proyecto.tecnologias}}</h4>
						</div>
					</div>	
				</div>
			</div>
		</div>
</div>
</md-content>


		<!--MODAL-->
			<div class="modal fade" id="mostrarPortafolio" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="limpiar()">&times;</button>
			        <h1>Nuevo Trabajo</h1>
			      </div>
			      <div class="modal-body">
			       <form action="">
			       		<md-input-container>
		      				<label class=".label" for="nombreProyecto">Nombre del proyecto:</label>
		      				<input md-maxlength="14" maxlength="14" type="text" type="text" id="nombreProyecto" ng-model="nombreProyecto">
						</md-input-container>
						<md-input-container>
		      				<label class=".label" for="hechoPor">Hecho por:</label>
		      				<input md-maxlength="14" maxlength="14" type="text" type="text" id="hechoPor" ng-model="hechoPor">
						</md-input-container>
						<md-input-container>
		      				<label class=".label" for="urlImagen">Imagen del sitio:</label>
		      				<input  type="text" type="text" id="urlImagen" ng-model="urlImagen">
						</md-input-container>
						<md-input-container>
		      				<label class=".label" for="tecnologias">Tecnologias implementadas:</label>
		      				<input md-maxlength="14" maxlength="14" type="text" type="text" id="tecnologias" ng-model="tecnologias">
						</md-input-container>
						<md-input-container>
		      				<label class=".label" for="urlPagina">Url de la pagina:</label>
		      				<input type="text" type="text" id="urlPagina" ng-model="urlPagina">
						</md-input-container>
			       </form>
				  </div>
			     <div class="modal-footer">
					<button type="button" class="btn simpleColor" ng-click="agregarTrabajo()">Agregar</button>
                 	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="limpiar()">Cancelar</button>
             	 </div>
			      </div>
			    </div>
			  </div>
			</div>
		<!--FIN DE MODAL-->
		<!--MODAL-->
			<div class="modal fade" id="editarInfo" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h1>Editar Informacion Personal</h1>
			      </div>
			      <div class="modal-body">
			       <form action="">
			       		<md-input-container>
		      				<label class=".label" for="nombre">Nombre:</label>
		      				<input type="text" type="text" id="nombre" ng-model="miNombre2">
						</md-input-container>
						<md-input-container>
		      				<label class=".label" for="correo">Correo:</label>
		      				<input type="text" type="text" id="correo" ng-model="miCorreo2">
						</md-input-container>
						<md-input-container>
		      				<label class=".label" for="tel">Teléfono:</label>
		      				<input  type="text" type="text" id="tel" ng-model="miTel2">
						</md-input-container>
						<md-input-container>
		      				<label class=".label" for="desc">Descripcion:</label>
		      				<textarea name="desc" id="desc" cols="30" rows="5" ng-model="miDesc2"></textarea>
						</md-input-container>
			       </form>
				  </div>
			     <div class="modal-footer">
					<button type="button" class="btn simpleColor"  ng-click="editarInfo2()">Agregar</button>
                 	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="limpiar()">Cancelar</button>
             	 </div>
			      </div>
			    </div>
			  </div>
			</div>
		<!--FIN DE MODAL-->

